{% extends "baseNew.html" %}
{% load mes_tags %}
{% load static %}
{% block title %}Problématique{% endblock %}

{% block content %}
    <div class="w-full h-full backprimer px-4 pb-4 flex justify-center items-center">
        <h1>Vous n'avez pas d'accès a cette interface</h1>
    </div>

    <script>
    
        {% if 'customuser' not in listmodules %}
            $("#userslistlink").addClass('hidden');
        {% endif %}

        {% if 'produits' not in listmodules %}
            $("#prodlistlink").addClass('hidden');
        {% endif %}

        {% if 'distributeur' not in listmodules %}
            $("#distlistlink").addClass('hidden');
        {% endif %}

        {% if 'dist_commande' not in listmodules %}
            $("#cmdlistlink").addClass('hidden');
        {% endif %}

        {% if 'encaissement' not in listmodules %}
            $("#enclistlink").addClass('hidden');
        {% endif %}

        {% if 'formation' not in listmodules %}
            $("#formslistlink").addClass('hidden');
        {% endif %}
    </script>

{% endblock %}
