{% extends "base.html" %}
{% load mes_tags %}
{% load static %}
{% block title %}Commandes{% endblock %}

{% block content %}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <!-- Add Produit Sidebar -->
    <div id="addSidebar" style="margin-top: -10px"
         class="fixed right-0 top-0 bottom-0 w-4/5 bg-white shadow-lg transform translate-x-full transition-transform duration-300 z-50">
        <div class="flex justify-between items-center p-4 border-b">
            <h3 class="text-lg font-semibold">Liste BL</h3>
            <button id="closeSidebar" class="text-gray-500 hover:text-gray-700">&times;</button>
        </div>

        <!-- Step 1: Select Products -->
        <div id="step1" class="p-4 h-full">
            <div class="p-4 h-28 flex justify-around border border-gray-300 rounded-lg mb-4 gap-4">
                <!-- Type Filter -->
                <div class="mb-4 w-64">
                    <label for="typeFilter" class="block text-sm font-medium text-gray-700 mb-2">Type</label>
                    <select id="typeFilter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">Tous</option>
                        {% for fil in liste_type %}
                            <option id="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Measure Filter -->
                <div class="mb-4 w-64">
                    <label for="measureFilter" class="block text-sm font-medium text-gray-700 mb-2">Mesure</label>
                    <select id="measureFilter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">Tous</option>
                        {% for fil in liste_mesure %}
                            <option id="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Field Filter -->
                <div class="mb-4 w-64">
                    <label for="colorfilter" class="block text-sm font-medium text-gray-700 mb-2">Couleur</label>
                    <select id="colorfilter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">Tous</option>
                        {% for fil in liste_couleur %}
                            <option id="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Field Filter -->
                <div class="mb-4 w-64">
                    <label for="distfield" class="block text-sm font-medium text-gray-700 mb-2">Selectionner le
                        distributeur</label>
                    <select id="distfield"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        {% for fil in liste_distributeur %}
                            <option data-designation="{{ fil.designation }}" data-username="{{ fil.user.nom }}"
                                    data-email="{{ fil.user.email }}"
                                    id="{{ fil.id }}" value="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>


            </div>
            <div class="h-4/6 overflow-y-auto">
                <div id="productList" class="grid gap-4 w-full"></div>
            </div>

            <button id="goToStep2" class="goToStep2 h-10 mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg">Suivant
            </button>
        </div>

        <!-- Step 2: Review Selected Products -->
        <div id="step2" class="p-4 hidden">
            <h3 class="text-lg font-semibold mb-4">Review Products</h3>
            <div class="h-4/6 overflow-y-auto">
                <div id="selectedProducts"></div>
            </div>

            <div class="flex justify-end pr-28">
                <div class="h-16">Total:</div>
                <div class="h-16 w-1/6 text-right pr-8" id="totalPrice">0 DA</div>
            </div>

            <div class="flex justify-between items-center mt-4">
                <button id="goToStep1" class="bg-gray-500 text-white px-4 py-2 rounded-lg">Retour</button>
                <button id="goToStep3" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Suivant</button>
            </div>
        </div>

        <!-- Step 3: Confirm Order -->
        <div id="step3" class="p-4 hidden">
            <!-- Logo Section -->
            <div class="h-4/5 w-full flex flex-col  items-center">

                <div class="w-2/3">
                    <div class="flex justify-center mb-4">
                        <img src="{% static 'images/puma.svg' %}" alt="Company Logo" class="h-16">
                    </div>

                    <!-- Facture Details -->
                    <div class="grid grid-cols-2 gap-4 mb-4">
                        <!-- Recipient Details -->
                        <div class="">
                            <p id="recipientCompany">Nom de l'entreprise</p>
                            <p id="recipientName">Nom et prénom</p>
                            <p id="recipientEmail">email@domaine.com</p>
                        </div>

                        <!-- Facture Info -->
                        <div class="text-right">
                            <!--<p id="factureCode">12345</p>-->
                            <p id="factureDate">01/01/2024</p>
                            <p id="issuerName">{{ request.user.nom }}</p>
                        </div>
                    </div>

                    <!-- Product Details Table -->
                    <div class="overflow-x-auto">
                        <table class="w-full border-t border-b border-gray-300">
                            <thead>
                            <tr>
                                <th class="p-2 text-left">Désignation & Référence</th>
                                <th class="p-2 text-center">Prix Unitaire</th>
                                <th class="p-2 text-center">Quantité</th>
                                <th class="p-2 text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody id="productDetails">
                            <!-- Product rows will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Total Section -->
                    <div class="flex justify-end">
                        <div class="mt-4 w-1/3">
                            <div class="flex justify-between mt-2 font-semibold">
                                <span>Total:</span>
                                <span id="totalAmount" class="pr-2">0 DA</span>
                            </div>
                            <div class="flex justify-between mt-2 font-semibold">
                                <span>TVA:</span>
                                <span id="taxAmount" class="pr-2">0 DA</span>
                            </div>
                            <div class="flex justify-between mt-2 font-semibold">
                                <span>Montant Total:</span>
                                <span id="amountDue" class="pr-2">0 DA</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Buttons -->
            <div class="flex justify-between items-center mt-4">
                <button class="goToStep2 bg-gray-500 text-white px-4 py-2 rounded-lg">Retour</button>
                <button id="confirmOrder" class="bg-green-500 text-white px-4 py-2 rounded-lg">Confirmer</button>
            </div>
        </div>

    </div>

    <!-- Edit Sidebar -->
    <div id="editSidebar" style="margin-top: -10px"
         class="fixed right-0 top-0 bottom-0 w-4/5 bg-white shadow-lg transform translate-x-full transition-transform duration-300 z-50">
        <div class="flex justify-between items-center p-4 border-b">
            <h3 class="text-lg font-semibold">Modifier la commande</h3>
            <button id="closeEditSidebar" class="text-gray-500 hover:text-gray-700">&times;</button>
        </div>

        <!-- Step 1: Select Products -->
        <div id="editStep1" class="p-4 h-full">
            <div class="p-4 h-28 flex justify-around border border-gray-300 rounded-lg mb-4 gap-4">
                <!-- Type Filter -->
                <div class="mb-4 w-64">
                    <label for="editTypeFilter" class="block text-sm font-medium text-gray-700 mb-2">Type</label>
                    <select id="editTypeFilter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">Tous</option>
                        {% for fil in liste_type %}
                            <option id="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Measure Filter -->
                <div class="mb-4 w-64">
                    <label for="editMeasureFilter" class="block text-sm font-medium text-gray-700 mb-2">Mesure</label>
                    <select id="editMeasureFilter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">Tous</option>
                        {% for fil in liste_mesure %}
                            <option id="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Field Filter -->
                <div class="mb-4 w-64">
                    <label for="editColorfilter" class="block text-sm font-medium text-gray-700 mb-2">Couleur</label>
                    <select id="editColorfilter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="">Tous</option>
                        {% for fil in liste_couleur %}
                            <option id="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Field Filter -->
                <div class="mb-4 w-64">
                    <label for="editDistfield" class="block text-sm font-medium text-gray-700 mb-2">Selectionner le
                        distributeur</label>
                    <select id="editDistfield"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        {% for fil in liste_distributeur %}
                            <option data-designation="{{ fil.designation }}" data-username="{{ fil.user.nom }}"
                                    data-email="{{ fil.user.email }}"
                                    id="{{ fil.id }}" value="{{ fil.id }}">{{ fil.designation }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="h-4/6 overflow-y-auto">
                <div id="editProductList" class="grid gap-4 w-full"></div>
            </div>

            <button id="goToEditStep2" class="goToEditStep2 h-10 mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg">
                Suivant
            </button>
        </div>

        <!-- Step 2: Review Selected Products -->
        <div id="editStep2" class="p-4 hidden">
            <h3 class="text-lg font-semibold mb-4">Modifier les produits sélectionnés</h3>
            <div class="h-4/6 overflow-y-auto">
                <div id="editSelectedProducts"></div>
            </div>

            <div class="flex justify-end pr-28">
                <div class="h-16">Total:</div>
                <div class="h-16 w-1/6 text-right pr-8" id="editTotalPrice">0 DA</div>
            </div>

            <div class="flex justify-between items-center mt-4">
                <button id="goToEditStep1" class="bg-gray-500 text-white px-4 py-2 rounded-lg">Retour</button>
                <button id="goToEditStep3" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Suivant</button>
            </div>
        </div>

        <!-- Step 3: Confirm Order -->
        <div id="editStep3" class="p-4 hidden">
            <!-- Logo Section -->
            <div class="h-4/5 w-full flex flex-col  items-center">

                <div class="w-2/3">
                    <div class="flex justify-center mb-4">
                        <img src="{% static 'images/puma.svg' %}" alt="Company Logo" class="h-16">
                    </div>

                    <!-- Facture Details -->
                    <div class="grid grid-cols-2 gap-4 mb-4">
                        <!-- Recipient Details -->
                        <div class="">
                            <p id="editRecipientCompany">Nom de l'entreprise</p>
                            <p id="editRecipientName">Nom et prénom</p>
                            <p id="editRecipientEmail">email@domaine.com</p>
                        </div>

                        <!-- Facture Info -->
                        <div class="text-right">
                            <!--<p id="editFactureCode">12345</p>-->
                            <p id="editFactureDate">01/01/2024</p>
                            <p id="editIssuerName">{{ request.user.nom }}</p>
                        </div>
                    </div>

                    <!-- Product Details Table -->
                    <div class="overflow-x-auto">
                        <table class="w-full border-t border-b border-gray-300">
                            <thead>
                            <tr>
                                <th class="p-2 text-left">Désignation & Référence</th>
                                <th class="p-2 text-center">Prix Unitaire</th>
                                <th class="p-2 text-center">Quantité</th>
                                <th class="p-2 text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody id="editProductDetails">
                            <!-- Product rows will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Total Section -->
                    <div class="flex justify-end">
                        <div class="mt-4 w-1/3">
                            <div class="flex justify-between mt-2 font-semibold">
                                <span>Total:</span>
                                <span id="editTotalAmount" class="pr-2">0 DA</span>
                            </div>
                            <div class="flex justify-between mt-2 font-semibold">
                                <span>TVA:</span>
                                <span id="editTaxAmount" class="pr-2">0 DA</span>
                            </div>
                            <div class="flex justify-between mt-2 font-semibold">
                                <span>Montant Total:</span>
                                <span id="editAmountDue" class="pr-2">0 DA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="flex justify-between items-center mt-4">
                <button class="goToEditStep2 bg-gray-500 text-white px-4 py-2 rounded-lg">Retour</button>
                <button id="confirmEditOrder" class="bg-green-500 text-white px-4 py-2 rounded-lg">Confirmer</button>
            </div>
        </div>
    </div>

    <!-- View Sidebar -->
    <div id="viewSidebar" style="margin-top: -10px"
         class="flex flex-col fixed right-0 top-0 bottom-0 w-4/5 bg-white shadow-lg transform translate-x-full transition-transform duration-300 z-50">
        <div class="flex justify-between items-center p-4 border-b">
            <h3 class="text-lg font-semibold">Détail Commande</h3>
            <button id="closeViewSidebar" class="text-gray-500 hover:text-gray-700">&times;</button>
        </div>

        <div id="containerdatacmd" class="flex-grow flex flex-col p-8">

        </div>


    </div>


    <div class="flex justify-between items-center pt-8 mb-4" style="margin-top: -8px">
        <h2 class="text-2xl font-bold text-gray-700">Liste des BL</h2>
    </div>


    <!-- Produit List Headers -->
    <div class="bg-white shadow-md rounded-t-lg p-4">
        <div class="flex items-center justify-between text-gray-600 font-semibold">
            <div class="w-1/6 capitalize">Code</div>
            <div class="w-1/4 capitalize">Facture</div>
            <div class="w-1/6 capitalize">date ajout</div>
            <div class="w-1/6 capitalize">date échéance</div>
            <div class="w-1/6 capitalize px-4">fc file</div>
            <div class="w-1/6 capitalize px-4">bl file</div>
            <div class="w-1/6 capitalize text-center">Total</div>
            <div class="w-1/6 capitalize text-center">Actions</div>
        </div>
    </div>

    <!-- Produit List
     <h3 class="text-lg font-bold text-blue-600">{ { elem.designation }}</h3>
                        <p class="text-sm text-gray-500">{ { elem.reference }}</p>-->
    <div class="shadow-md space-y-4">
        {% for elem in blist %}
            <div class="flex items-center justify-between bg-gray-50 p-2 rounded-lg mt-2">
                <div class="w-1/6">
                    <p class="text-sm text-gray-500">bl_{{ elem.commandes__distributeur__code }}{{ cmd }}</p>
                </div>
                <div class="w-1/4">
                    <p class="text-sm text-gray-500">{{ elem.facture }}</p>
                </div>
                <div class="w-1/6">
                    <p class="text-sm text-gray-500">{{ elem.date_ajout }}</p>
                </div>
                <div class="w-1/6">
                    <p class="text-sm text-gray-500">{{ elem.date_echeance }}</p>
                </div>
                <div class="w-1/6">
                    <a href="/media/{{ elem.fc_file }}"
                       class="{% if elem.fc_file %}bg-blue-500{% else %}bg-gray-300{% endif %} text-white px-4 py-2 rounded-lg">
                        Fichier FC
                    </a>
                </div>
                <div class="w-1/6">
                    <a href="/media/{{ elem.bl_file }}"
                       class="{% if elem.bl_file %}bg-blue-500{% else %}bg-gray-300{% endif %} text-white px-4 py-2 rounded-lg">
                        Fichier BL
                    </a>
                </div>
                <div class="w-1/6">
                    <div class="flex w-full justify-between pl-2">
                        <div class="text-sm text-gray-500">HT:</div>
                        <div class="text-sm text-gray-500 text-right">{{ elem.total|floate_redefined }} DA
                        </div>
                    </div>
                    <div class="flex w-full justify-between pl-2">
                        <div class="text-sm text-gray-500">Taxe:</div>
                        <div class="text-sm text-gray-500 text-right">{{ elem.total|taxednumber }}
                            DA
                        </div>
                    </div>
                </div>
                <div class="flex space-x-2 w-1/6 justify-end">
                    <button id="popupButton" class="popupButton bg-blue-500 text-white p-2 rounded"
                            data-identifiant="{{ elem.id }}"><i
                            class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="bg-red-500 text-white p-2 rounded delete-btn" data-code="{{ elem.commandes__distributeur__code }}"
                            data-identifiant="{{ elem.id }}" data-cmd="{{ cmd }}"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Filter Modal -->
    <div id="addbl" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <form>
            <div class="relative w-screen h-screen flex justify-center items-center">
                <div class="bg-white w-3/4 h-3/4 p-6 rounded-lg shadow-lg flex flex-col gap-y-2">
                    <h3 class="text-lg font-semibold">Ajout BL</h3>
                    <div class="grid grid-cols-8 p-4">
                        <div class="col-span-2">Produit</div>
                        <div class="col-span-2">Type/Mesure</div>
                        <div class="col-span-1">Couleur</div>
                        <div class="col-span-1">Prix unitaire</div>
                        <div class="col-span-1">Quantité</div>
                        <div class="col-span-1 text-right">Total</div>
                    </div>

                    <div class="listeblprod flex-grow" id="listeblprod">
                    </div>
                    <div class="grid grid-cols-8 text-right pr-4 text-lg">
                        <div class="col-span-7 mr-3.5">Total HT:</div>
                        <div class="col-span-1" id="totalhtbl">0 DA</div>
                    </div>
                    <div class="grid grid-cols-8 text-right pr-4 text-lg">
                        <div class="col-span-7">Total Taxe:</div>
                        <div class="col-span-1" id="totaltaxebl">0 DA</div>
                    </div>
                    <div class="flex justify-around">
                        <div class="">
                            <button type="button" id="closePopup" class="bg-gray-500 text-white px-4 py-2 rounded-lg">
                                Annuler
                            </button>
                        </div>

                        <div class="flex-grow flex items-center justify-around space-x-4">
                            <div class="flex items-center justify-center space-x-4">
                                <input id="facture_id" class="border border-gray-300
                                text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                                p-2.5" placeholder="Facture"/>
                            </div>

                            <div class="flex items-center space-x-4 border border-gray-300 rounded-lg w-72">
                                <label for="file-upload" class="block flex-shrink-0">
                                    <div class="flex items-center justify-center px-4 py-2 rounded-l-lg bg-white text-blue-500 cursor-pointer hover:bg-blue-500 hover:text-white transition-colors duration-300">
                                        <span>Fichier FC</span>
                                    </div>
                                    <input id="file-upload" type="file" class="hidden"/>
                                </label>
                                <span id="file-name" class="text-gray-500 w-64 truncate">No fc file</span>
                            </div>

                            <div class="flex items-center space-x-4 border border-gray-300 rounded-lg w-72">
                                <label for="file-upload2" class="block flex-shrink-0">
                                    <div class="flex items-center justify-center px-4 py-2 rounded-l-lg bg-white text-blue-500 cursor-pointer hover:bg-blue-500 hover:text-white transition-colors duration-300">
                                        <span>Fichier BL</span>
                                    </div>
                                    <input id="file-upload2" type="file" class="hidden"/>
                                </label>
                                <span id="file-name2" class="text-gray-500 w-64 truncate">No bl file</span>
                            </div>

                        </div>

                        <div class="">
                            <input type="submit" class="bg-green-300 text-white px-4 py-2 rounded-lg" id="validatebl"
                                   value="Valider">
                        </div>
                    </div>


                </div>
            </div>
        </form>

    </div>

    <script>

        var fileuploaddata = null;
        var fileupload2data = null;
        var identifiant = 0;
        var commandesid = 0;

        function formatNumber(num) {
            return new Intl.NumberFormat('fr-FR', {minimumFractionDigits: 2, maximumFractionDigits: 2}).format(num);
        }

        function parseFormattedNumber(formattedNum) {
            // Replace spaces and commas, then parse the string as a float
            return parseFloat(formattedNum.replace(/\s/g, '').replace(',', '.'));
        }


        $(document).ready(function () {
            // Show the popup
            $('.popupButton').click(function () {
                identifiant = $(this).data('identifiant');
                console.log(identifiant);
                let $listeblprod = $('#listeblprod');
                $listeblprod.html('');

                let settings = {
                    url: `/api/blivraisondetail/${identifiant}`,
                    method: "GET",
                    timeout: 0,
                    headers: {
                        "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                    },
                };

                $.ajax(settings).done(function (response) {
                    let responsedata = response;
                    let commandesid = responsedata['commandes']['id'];

                    // Populate the product details
                    for (let i = 0; i < responsedata['BonLivraison'].length; i++) {
                        let itemprod = responsedata['BonLivraison'][i];
                        $listeblprod.append(`
                <div class="grid grid-cols-8 bg-gray-50 p-4 rounded-lg mb-2 product-line">
                    <div class="flex items-center col-span-2">
                        <img src="${itemprod['produit']['image']}" alt="product" class="h-12 w-12 rounded-lg mr-4">
                        <div>
                            <h3 class="text-lg font-bold text-blue-600 productName">${itemprod['produit']['designation']}</h3>
                            <p class="text-sm text-gray-500 productRef">${itemprod['produit']['reference']}</p>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <h3 class="text-lg font-bold text-blue-600 productName">${itemprod['produit']['type']['designation']}</h3>
                        <p class="text-sm text-gray-500 productRef">${itemprod['produit']['mesure']['designation']}</p>
                    </div>
                    <div class="col-span-1">${itemprod['produit']['couleur']['designation']}</div>
                    <div class="col-span-1 prixunitaire">${formatNumber(itemprod['prixunitaire'])} DA</div>
                    <div class="col-span-1 prixunitaire">${itemprod['quantite']}</div>
                    <div class="col-span-1 text-right pr-4">${formatNumber(itemprod['prixtotal'])} DA</div>
                </div>
            `);
                    }

                    // Update total price
                    let totalprice = responsedata['total'];
                    $('#totalhtbl').text(formatNumber(totalprice) + ' DA');

                    // Update tax
                    const totalTaxe = totalprice + totalprice * 0.19;
                    $('#totaltaxebl').text(formatNumber(totalTaxe) + ' DA');

                    // Populate form fields
                    $('#facture_id').val(responsedata['facture']);

                    // Handle file previews
                    let fc_file = responsedata['fc_file'];
                    let bl_file = responsedata['bl_file'];


                    if (fc_file) {
                        //$('#file-upload').siblings('span').text('');
                        $('#file-name').text(fc_file.replace('/media/Factures/', '') || 'FC File Selected');
                    } else {
                        $('#file-upload').siblings('span').text('No FC File');
                    }

                    if (bl_file) {
                        //$('#file-upload2').siblings('span').text('BL File Selected');
                        $('#file-name2').text(bl_file.replace('/media/BonLivraison/', '') || 'BL File Selected');
                    } else {
                        $('#file-upload2').siblings('span').text('No BL File');
                    }

                    $('#addbl').fadeIn();
                });
            });


            // Close the popup
            $('#closePopup').click(function () {
                $('#addbl').fadeOut();
            });

            // Optional: Close popup if clicking outside of the popup content
            $(window).click(function (event) {
                if ($(event.target).is('#addbl')) {
                    $('#addbl').fadeOut();
                }
            });
        });

        $('#file-upload').on('change', function () {
            const fileName = $(this).val().split('\\').pop() || 'No fc file';
            $('#file-name').text(fileName);
        });

        $('#file-upload2').on('change', function () {
            const fileName = $(this).val().split('\\').pop() || 'No bl file';
            $('#file-name2').text(fileName);
        });


        $('#validatebl').on('click', function (e) {
            e.preventDefault();
            var form = new FormData();

            var fcFile = $("#file-upload")[0].files[0];
            var blFile = $("#file-upload2")[0].files[0];

            if (fcFile) {
                form.append("fc_file", fcFile);
            }
            if (blFile) {
                form.append("bl_file", blFile);
            }

            $facture_id = $('#facture_id');

            if ($facture_id.val() === "") facture = null;
            else facture = $facture_id.val();

            var settings = {
                "url": "/api/blivraison/" + identifiant + "/",
                "method": "put",
                "timeout": 0,
                "headers": {
                    "X-CSRFToken": $('input[name= csrfmiddlewaretoken]').val(),
                },
                "processData": false,
                "contentType": false,
                "data": form
            };

            $.ajax(settings)
                .done(function (response) {
                    window.location.href = "/commande/";
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // Log the entire jqXHR object to see all details
                    console.log('jqXHR:', jqXHR);

                    // Log the status text
                    console.log('Status:', textStatus);

                    // Log the error thrown
                    console.log('Error Thrown:', errorThrown);

                    // Log the response text, which might contain detailed error messages
                    console.log('Response Text:', jqXHR.responseText);

                    // Optionally, parse the responseText as JSON if it's in JSON format
                    try {
                        var responseJSON = JSON.parse(jqXHR.responseText);
                        console.log('Response JSON:', responseJSON);
                    } catch (e) {
                        console.error('Failed to parse response as JSON:', e);
                    }

                });

        });


        $(document).ready(function () {
            // Handle the delete button click
            $('.delete-btn').on('click', function () {
                // Get the element's identifier
                const cmd = $(this).data('cmd');
                const code = $(this).data('code');
                const identifiant = $(this).data('identifiant');

                // Create a confirmation popup
                const isConfirmed = confirm("Etes vous sure de vouloir supprimer le BL bl_"+code+cmd+"?");

                // If the user confirms, make the delete request
                if (isConfirmed) {
                    let settings = {
                        url: `/api/blivraison/${identifiant}/`,
                        method: "DELETE",
                        timeout: 0,
                        headers: {
                            "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function (response) {
                            window.location.href = "/commande/";
                        },
                        error: function (xhr) {
                            // Handle error
                            alert("Une erreur s'est produite lors de la suppression de l'élément.");
                        }
                    };

                    // Send the delete request
                    $.ajax(settings);
                }
            });
        });

    </script>


{% endblock %}
