{% load static %}
<!doctype html>
<html data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.41.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body class="w-full h-screen backprimer flex justify-center items-center overflow-hidden">

<div class="w-full flex items-center justify-between px-20">
    <!-- Left Side Links -->
    <div class="w-1/3 flex flex-col gap-2 items-end">
        <a href="/dashboard/"
           class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
            <i class="uil uil-apps text-4xl"></i>
            <span class="text-xl">dashboard</span>
        </a>
        {% if 8 in listeauth and request.user.type != 'Distributeur' %}
            <a href="/users/"
               class="btn btn-square hover:bg-[#151e66] hover:text-white backprimer w-64 h-16 border-none flex gap-2 justify-between px-4 text-slate-300 ">
                <i class="uil uil-users-alt text-4xl"></i>
                <span class="text-xl">Utilisateur</span>
            </a>
         {% endif %}
        {% if 10 in listeauth and request.user.type != 'Distributeur' %}
            <a href="/distributeur/"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-truck-loading text-4xl"></i>
                <span class="text-xl">Distributeur</span>
            </a>
        {% elif request.user.type == 'Distributeur' %}
            <a href="/distributeur/payeurdraft"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-truck-loading text-4xl"></i>
                <span class="text-xl">Payeur</span>
            </a>
         {% endif %}
        {% if 15 in listeauth and request.user.type != 'Distributeur' %}
            <a href="/produit/"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-box text-4xl"></i>
                <span class="text-xl">Produits</span>
            </a>
         {% endif %}



    </div>

    <!-- Logo in the Middle -->
    <div class="flex flex-col items-center">
        <img src='{% static "images/puma logo.svg" %}' class="w-72" alt="">
        <div class="w-64 h-fit flex flex-col gap-4 text-gray-200 border border-slate-200 rounded-xl p-8 mt-2">
            <div class="flex items-center gap-1">
                <div class="text-sm w-16">société</div>
                <div class="text-lg font-semibold">PUMAL</div>
            </div>
            <div class="flex items-center gap-1">
                <div class="text-sm w-16">téléphone</div>
                <div class="text-lg font-semibold">{{ request.user.telephone }}</div>
            </div>
        </div>
    </div>

    <!-- Right Side Links -->
    <div class="w-1/3 flex flex-col gap-2 items-start">
        {% if 18 in listeauth %}
            <a href="/commande/"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-clipboard-alt text-4xl"></i>
                <span class="text-xl">Commandes</span>
            </a>
        {% endif %}

        {% if 16 in listeauth %}
            <a href="/commande/bl"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-bill text-4xl"></i>
                <span class="text-xl">Bon livraison</span>
            </a>
        {% endif %}



        {% if 22 in listeauth %}
            <a href="/encaissement/"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-usd-circle text-4xl"></i>
                <span class="text-xl">Créance</span>
            </a>
        {% endif %}



        {% if 26 in listeauth %}
            <a href="/formation/"
               class="btn btn-square backprimer w-64 h-16 hover:bg-[#151e66] border-none flex gap-2 justify-between px-4 text-slate-300 hover:text-white">
                <i class="uil uil-presentation-minus text-4xl"></i>
                <span class="text-xl">Formation</span>
            </a>
        {% endif %}


    </div>
</div>

</body>
</html>
