{% extends "baseNew.html" %}
{% load mes_tags %}
{% load static %}
{% block title %}Distributeur{% endblock %}


{% block content %}
    <div class="w-full h-full backprimer px-4 pb-4 flex flex-col">

        <!-- Add User Sidebar -->
        <div id="addSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer textslate shadow-lg transform translate-x-full transition-transform
             duration-300 z-50 h-full flex flex-col">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold">Ajouter un Distributeur</h3>
                <button id="closeSidebar" class="text-2xl textslate">&times;</button>
            </div>
            <!-- Add User Form -->
            <div class="p-4">

                <form id="userForm">
                    <div class="p-4" style="height: calc(100% - 10rem); overflow-y: auto;">

                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <input type="text" id="first_name" name="first_name" placeholder="first name"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="last_name" name="last_name" placeholder="last name"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="code" name="code" placeholder="Code"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="responsable" name="responsable"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <option value="">Résponsable</option>
                                    {% for worker in users_select %}
                                        <option value="{{ worker.id }}">{{ worker.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="designation" name="designation" placeholder="Désignation"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="telephone" name="telephone" placeholder="Téléphone"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="ville" name="ville"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for ville in ville_list %}
                                        <option data-region="{{ ville.region }}"
                                                value="{{ ville.id }}">{{ ville.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="adresse" name="adresse" placeholder="Adresse"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="nif" name="nif" placeholder="NIF"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="nis" name="nis" placeholder="NIS"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="art" name="art" placeholder="ART"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="rc" name="rc" placeholder="RC"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="plafonnement" name="plafonnement" placeholder="Plafonnement"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="echeance_jour" name="echeance_jour" placeholder="echeance_jour"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="ristourn_a" name="ristourn_a" placeholder="ristourn_a"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="ristourn_na" name="ristourn_na" placeholder="ristourn_na"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="objectif_a" name="objectif_a" placeholder="objectif_a"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="objectif_m" name="objectif_m" placeholder="objectif_m"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Accées</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light" id="is_active" type="checkbox"/>
                                    <label class="tgl-btn" for="is_active"></label>
                                </div>
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Bloqué commande</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light2" id="bloquer" type="checkbox"/>
                                    <label class="tgl-btn" for="bloquer"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="flex justify-end py-8">
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit User Sidebar -->
        <div id="editSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50"
             style="margin-top: -8px">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold">Editer distributeur: </h3>
                <button id="closeEditSidebar" class="text-2xl textslate">&times;</button>
            </div>
            <!-- Edit User Form -->

            <div class="p-4">
                <form id="edituserForm">
                    <div class="p-4" style="height: calc(100% - 10rem); overflow-y: auto;">

                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <input type="text" id="edit_username" name="edit_username" placeholder="Username"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_email" name="edit_email" placeholder="email"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_first_name" name="edit_first_name"
                                       placeholder="edit_first name"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_last_name" name="edit_last_name"
                                       placeholder="edit_last name"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_code" name="edit_code" placeholder="Code"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="edit_responsable" name="edit_responsable"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <option value="">Résponsable</option>
                                    {% for worker in users_select %}
                                        <option value="{{ worker.id }}">{{ worker.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="edit_designation" name="edit_designation"
                                       placeholder="edit_Désignation"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_telephone" name="edit_telephone" placeholder="Téléphone"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="edit_ville" name="edit_ville"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for ville in ville_list %}
                                        <option data-region="{{ ville.region }}"
                                                value="{{ ville.id }}">{{ ville.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="edit_adresse" name="edit_adresse" placeholder="Adresse"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_nif" name="edit_nif" placeholder="NIF"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_nis" name="edit_nis" placeholder="NIS"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_art" name="edit_art" placeholder="ART"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_rc" name="edit_rc" placeholder="RC"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_plafonnement" name="edit_plafonnement"
                                       placeholder="Plafonnement"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_echeance_jour" name="edit_echeance_jour"
                                       placeholder="echeance_jour"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_ristourne_a" name="edit_ristourn_a" placeholder="ristourn_a"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_ristourne_na" name="edit_ristourn_na"
                                       placeholder="ristourn_na"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_objectif_a" name="edit_objectif_a" placeholder="objectif_a"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_objectif_m" name="edit_objectif_m" placeholder="objectif_m"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Accées</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light" id="edit_is_active" type="checkbox"/>
                                    <label class="tgl-btn" for="edit_is_active"></label>
                                </div>
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Bloqué commande</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light2" id="edit_bloquer" type="checkbox"/>
                                    <label class="tgl-btn" for="edit_bloquer"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="flex justify-end py-8">
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400">
                            Modifier
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <!-- View User Sidebar -->
        <div id="viewSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50"
             style="margin-top: -8px">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold">Page distributeur: </h3>
                <button id="closeViewSidebar" class="text-2xl textslate">&times;</button>
            </div>
            <!-- Edit User Form -->

            <div class="p-4">
                <form id="edituserForm">
                    <div class="p-4" style="height: calc(100% - 10rem); overflow-y: auto;">

                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <div id="view_username"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_email"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_first_name"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_last_name"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_code"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_responsable"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_designation"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_telephone"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_ville"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_adresse"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_nif"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_nis"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_art"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_rc"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_plafonnement"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_echeance_jour"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_ristourne_a"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_ristourne_na"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_objectif_a"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>
                            <div>
                                <div id="view_objectif_m"
                                     class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Accées</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light" id="view_is_active" disabled type="checkbox"/>
                                    <label class="tgl-btn" for="view_is_active"></label>
                                </div>
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Bloqué commande</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light2" id="view_bloquer" disabled type="checkbox"/>
                                    <label class="tgl-btn" for="view_bloquer"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="flex justify-end py-8">
                    </div>
                </form>
            </div>
        </div>

        <!-- Filter Modal -->
        <div id="filterModal" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40 flex items-center justify-center"
             style="margin-top: -16px">
            <div class="bg-white w-1/3 rounded-lg shadow-lg">
                <div class="flex justify-between items-center p-4 border-b">
                    <h3 class="text-lg font-semibold">Filtres</h3>
                    <button id="closeFilterModal" class="text-gray-500 hover:text-gray-700">&times;</button>
                </div>
                <div class="p-4">
                    <!-- Filter Form -->
                </div>
            </div>
        </div>

        <div class="flex justify-between items-center pt-4 mb-4" style="margin-top: -8px">
            <div class="flex gap-2">
                <div>
                    <a href="{% url 'distributeur' %}"
                       class="block px-4 py-2 actualprimer rounded">Distributeur</a>
                </div>
                <div><!-- accomptes -->
                    <a href="{% url 'payeur' %}" class="block px-4 py-2 hoverprimer rounded">Payeur</a>
                </div>
                <div><!-- accomptes -->
                    <a href="{% url 'payeurdraft' %}" class="block px-4 py-2 hoverprimer rounded">Nouveau Payeur</a>
                </div>
            </div>
            <div>
                <button id="filterButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                    hover:bg-blue-900 hover:border-slate-400 rounded-md">Filtrer
                </button>

                {% if 33 in listeauth %}
                    <button id="addButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                        hover:bg-blue-900 hover:border-slate-400 rounded-md">Ajouter
                    </button>
                {% else %}
                    <button class="btn capitalize bg-gray-500 text-white px-4 py-2 border rounded-md cursor-not-allowed">
                        Ajouter
                    </button>
                {% endif %}


            </div>
        </div>
        <hr/>

        <!-- User List Headers -->
        <div class="pt-4">
            <div class="flex items-center justify-between text-gray-600 font-semibold px-4">
                <div class="w-1/6 capitalize">Code</div>
                <div class="w-1/4 capitalize">Désignation</div>
                <div class="w-1/6 capitalize">Ville</div>
                <div class="w-1/6 capitalize">Téléphone</div>
                <div class="w-1/6 capitalize">Date d'ajout</div>
                <div class="w-1/6 capitalize">Plafonnement</div>
                <div class="w-1/6 capitalize pl-8">Bloqué</div>
                <div class="w-1/6 capitalize text-right">Actions</div>
            </div>
        </div>

        <!-- User List -->
        <div class="flex-grow shadow-md rounded-b-lg backslateprime p-2 overflow-y-auto">
            {% for elem in dist_list %}
                <div class="flex items-center justify-between p-2 backslateslite flex-none mb-2 defaultval">
                    <div class="w-1/6 textslate">{{ elem.code }}</div>
                    <div class="w-1/4 textslate">{{ elem.designation }}</div>
                    <div class="w-1/6">{{ elem.ville }}</div>
                    <div class="w-1/6">{{ elem.user.telephone }}</div>
                    <div class="w-1/6">{{ elem.user.date_joined|date:'d-m-Y' }}</div>
                    <div class="w-1/6 text-right">{{ elem.plafonnement|floate_redefined }} DA</div>
                    <div class="w-1/6 text-center">
                    <span class="bg-gray-500 text-white text-xs px-2 py-1 rounded">{% if elem.bloque %}
                        Bloqué {% else %} Actif {% endif %}</span>
                    </div>
                    <div class="flex space-x-2 w-1/6 justify-end">

                        {% if 36 in listeauth %}
                            <button id="viewButton" class="viewButton bg-blue-500 text-white p-2 rounded"
                                    onclick="newdatauserview({{ elem.id }}, '{{ elem.user.first_name|escapejs }}', '{{ elem.user.last_name|escapejs }}',
                                            '{{ elem.user.email|escapejs }}', '{{ elem.user.telephone|escapejs }}', '{{ elem.user.responsable|escapejs }}',
                                            '{{ elem.code|escapejs }}',  '{{ elem.bloquer }}', '{{ elem.designation|escapejs }}', {{ elem.ville.id }},
                                            '{{ elem.adresse|escapejs }}', '{{ elem.nif|escapejs }}', '{{ elem.nis|escapejs }}', '{{ elem.art|escapejs }}',
                                            '{{ elem.rc|escapejs }}', {{ elem.plafonnement }}, {{ elem.echeance_jour }}, {{ elem.ristourn_a }}
                                            ,{{ elem.ristourn_na }}, {{ elem.objectif_a }}, {{ elem.objectif_m }}, '{{ elem.user.is_active }}',
                                            '{{ elem.user.username }}', {{ elem.user.id }})">
                                <i class="fas fa-search"></i>
                            </button>
                        {% else %}
                            <button class="cursor-not-allowed bg-gray-500 text-white p-2 rounded">
                                <i class="fas fa-search"></i>
                            </button>
                        {% endif %}

                        {% if 34 in listeauth %}
                            <button id="editButton" class="editButton bg-blue-500 text-white p-2 rounded"
                                    onclick="newdatauser({{ elem.id }}, '{{ elem.user.first_name|escapejs }}', '{{ elem.user.last_name|escapejs }}',
                                            '{{ elem.user.email|escapejs }}', '{{ elem.user.telephone|escapejs }}', '{{ elem.user.responsable|escapejs }}',
                                            '{{ elem.code|escapejs }}',  '{{ elem.bloquer }}', '{{ elem.designation|escapejs }}', {{ elem.ville.id }},
                                            '{{ elem.adresse|escapejs }}', '{{ elem.nif|escapejs }}', '{{ elem.nis|escapejs }}', '{{ elem.art|escapejs }}',
                                            '{{ elem.rc|escapejs }}', {{ elem.plafonnement }}, {{ elem.echeance_jour }}, {{ elem.ristourn_a }}
                                            ,{{ elem.ristourn_na }}, {{ elem.objectif_a }}, {{ elem.objectif_m }}, '{{ elem.user.is_active }}',
                                            '{{ elem.user.username }}', {{ elem.user.id }})">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        {% else %}
                            <button class="cursor-not-allowed bg-gray-500 text-white p-2 rounded">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        {% endif %}

                        {% if 35 in listeauth %}
                            <button class="bg-red-500 text-white p-2 rounded delete-btn"
                                    data-identifiant="{{ elem.id }}"><i class="fas fa-trash"></i></button>
                        {% else %}
                            <button class="cursor-not-allowed bg-gray-500 text-white p-2 rounded"><i
                                    class="fas fa-trash"></i></button>
                        {% endif %}


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="deleteModal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50">
        <div class="bg-white p-4 rounded-lg w-96">
            <h2 class="text-lg font-semibold text-gray-700 mb-4">Confirm Delete</h2>
            <p>Are you sure you want to delete this item?</p>
            <div class="mt-6 flex justify-end space-x-4">
                <button id="cancelDelete" class="px-4 py-2 bg-gray-300 rounded">Cancel</button>
                <button id="confirmDelete" class="px-4 py-2 bg-red-500 text-white rounded">Delete</button>
            </div>
        </div>
    </div>


    <script>
        {% if 7 not in listmodules %}
            $("#userslistlink").addClass('hidden');
        {% endif %}

        {% if 14 not in listmodules %}
            $("#prodlistlink").addClass('hidden');
        {% endif %}

        {% if 9 not in listmodules %}
            $("#distlistlink").addClass('hidden');
        {% endif %}

        {% if 17 not in listmodules %}
            $("#cmdlistlink").addClass('hidden');
        {% endif %}

        {% if 21 not in listmodules %}
            $("#enclistlink").addClass('hidden');
        {% endif %}

        {% if 26 not in listmodules %}
            $("#formslistlink").addClass('hidden');
        {% endif %}
        edit_elem = 0;
        edit_user = 0;
        edit_username_old = "";

        $first_name = $('#first_name');
        $last_name = $('#last_name');
        $email = $('#email');
        $telephone = $('#telephone');
        $responsable = $('#responsable');
        $type = $('#type');
        $region = $('#region');
        $code = $('#code');
        $designation = $('#designation');
        $ville = $('#ville');
        $numero = $('#numero');
        $adresse = $('#adresse');
        $nif = $('#nif');
        $nis = $('#nis');
        $art = $('#art');
        $rc = $('#rc');
        $plafonnement = $('#plafonnement');
        $bloquer = $('#bloquer');
        $echeance_jour = $('#echeance_jour');
        $ristourn_a = $('#ristourn_a');
        $ristourn_na = $('#ristourn_na');
        $objectif_a = $('#objectif_a');
        $objectif_m = $('#objectif_m');


        // Toggle the sidebar
        $('#addButton').on('click', function () {
            $('#addSidebar').toggleClass('translate-x-full');
        });

        // Toggle the sidebar edit
        $('.editButton').on('click', function () {
            $('#editSidebar').toggleClass('translate-x-full');
        });

        // Toggle the sidebar edit
        $('.viewButton').on('click', function () {
            $('#viewSidebar').toggleClass('translate-x-full');
        });

        // Close the sidebar
        $('#closeSidebar').on('click', function () {
            $('#addSidebar').addClass('translate-x-full');
        });

        // Close the sidebar
        $('#closeViewSidebar').on('click', function () {
            $('#viewSidebar').addClass('translate-x-full');
        });

        // Close the sidebar
        $('#closeEditSidebar').on('click', function () {
            $('#editSidebar').addClass('translate-x-full');
        });

        // Show the filter modal
        $('#filterButton').on('click', function () {
            $('#filterModal').removeClass('hidden');
        });

        // Close the filter modal
        $('#closeFilterModal').on('click', function () {
            $('#filterModal').addClass('hidden');
        });

        // Close sidebar when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#addButton, #addSidebar').length) {
                $('#addSidebar').addClass('translate-x-full');
            }
        });

        // Close sidebar when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#editButton, #editSidebar').length) {
                $('#editSidebar').addClass('translate-x-full');
            }
        });

        // Close filter modal when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#filterButton, #filterModal').length) {
                $('#filterModal').addClass('hidden');
            }
        });


        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }


        function newdatauser(id, first_name, last_name, email, telephone, responsable, code, bloque, designation, ville,
                             adresse, nif, nis, art, rc, plafonnement, echeance, ristourne_a, ristourne_na, objectif_a, objectif_m,
                             isactive, username, user_id) {
            edit_elem = id;
            edit_user = user_id;
            edit_username_old = username;
            $("#edit_username").val(username);
            $("#edit_email").val(email);
            $("#edit_first_name").val(first_name);
            $("#edit_last_name").val(last_name);
            $("#edit_telephone").val(telephone);

            $("#edit_code").val(code);
            $("#edit_bloque").val(bloque);
            $("#edit_designation").val(designation);
            $("#edit_ville").val(ville);
            $("#edit_nif").val(nif);
            $("#edit_nis").val(nis);
            $("#edit_art").val(art);
            $("#edit_rc").val(rc);
            $("#edit_plafonnement").val(plafonnement);
            $("#edit_echeance_jour").val(echeance);
            $("#edit_ristourne_a").val(ristourne_a);
            $("#edit_ristourne_na").val(ristourne_na);
            $("#edit_objectif_a").val(objectif_a);
            $("#edit_objectif_m").val(objectif_m);


            if (isactive === "True") {
                $('#edit_is_active').prop('checked', true);
            }

            if (responsable === "None") {
                $("#edit_responsable").val('');
            } else {
                $("#edit_responsable").val(responsable);
            }


        }


        function newdatauserview(id, first_name, last_name, email, telephone, responsable, code, bloque, designation, ville,
                                 adresse, nif, nis, art, rc, plafonnement, echeance, ristourne_a, ristourne_na, objectif_a, objectif_m,
                                 isactive, username, user_id) {
            edit_elem = id;
            edit_user = user_id;
            edit_username_old = username;
            $("#view_username").html(username);
            $("#view_email").html(email);
            $("#view_first_name").html(first_name);
            $("#view_last_name").html(last_name);
            $("#view_telephone").html(telephone);

            $("#view_code").html(code);
            $("#view_bloque").html(bloque);
            $("#view_designation").html(designation);
            $("#view_ville").html(ville);
            $("#view_nif").html(nif);
            $("#view_nis").html(nis);
            $("#view_art").html(art);
            $("#view_rc").html(rc);
            $("#view_plafonnement").html(plafonnement);
            $("#view_echeance_jour").html(echeance);
            $("#view_ristourne_a").html(ristourne_a);
            $("#view_ristourne_na").html(ristourne_na);
            $("#view_objectif_a").html(objectif_a);
            $("#view_objectif_m").html(objectif_m);


            if (isactive === "True") {
                $('#view_is_active').prop('checked', true);
            }

            if (responsable === "None") {
                $("#view_responsable").html('');
            } else {
                $("#view_responsable").html(responsable);
            }


        }

        $('#userForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            //var form = new FormData();

            usernamedefault = 'default_' + getRandomInt(600000);


            var data = {
                user: {
                    id: edit_user,
                    username: usernamedefault,
                    email: usernamedefault + '@pumaldefault.co',
                    type: 'Distributeur',
                    first_name: $first_name.val(),
                    last_name: $last_name.val(),
                    password: "123456",
                    telephone: $telephone.val(),
                    responsable: $responsable.val(),
                    region: $ville.find('option:selected').data('region'),
                    user_permissions: "84, 92, 88, 37, 40, 60, 68, 67, 66, 65, 76, 96, 100,99,98,97, 101, 102,103, 104, 105, 106, 107, 108", // Assuming this is a string
                    is_active: $('#is_active').prop('checked'),
                },
                code: $code.val(),
                designation: $designation.val(),
                ville: $ville.val(),
                numero: $numero.val(),
                adresse: $adresse.val(),
                nif: $nif.val(),
                nis: $nis.val(),
                art: $art.val(),
                rc: $rc.val(),
                plafonnement: $plafonnement.val(),
                bloquer: $('#edit_bloquer').prop('checked'), //
                echeance_jour: $echeance_jour.val(),
                ristourn_a: $ristourn_a.val(),
                ristourn_na: $ristourn_na.val(),
                objectif_a: $objectif_a.val(),
                objectif_m: $objectif_m.val()
            };

            console.log(data)

            /*form.append("user.username", usernamedefault);
            form.append("user.email", usernamedefault + '@pumaldefault.co');
            form.append("user.type", 'Distributeur');
            form.append("user.password", '123456');
            form.append("user.first_name", $first_name.val());
            form.append("user.last_name", $last_name.val());
            form.append("user.telephone", $telephone.val());
            form.append("user.responsable", $responsable.val());
            form.append("user.region", $ville.find('option:selected').data('region'));
            form.append("user.user_permissions", "37, 38, 39, 40, 60, 65, 66, 67, 68, 78, 84, 96, 100, 101");
            form.append("user.is_active", $('#is_active').prop('checked'));
            form.append("code", $code.val());
            form.append("designation", $designation.val());
            form.append("ville", $ville.val());
            form.append("numero", $numero.val());
            form.append("adresse", $adresse.val());
            form.append("nif", $nif.val());
            form.append("nis", $nis.val());
            form.append("art", $art.val());
            form.append("rc", $rc.val());
            form.append("plafonnement", $plafonnement.val());
            form.append("bloquer", $('#bloquer').prop('checked'));
            form.append("echeance_jour", $echeance_jour.val());
            form.append("ristourn_a", $ristourn_a.val());
            form.append("ristourn_na", $ristourn_na.val());
            form.append("objectif_a", $objectif_a.val());
            form.append("objectif_m", $objectif_m.val());*/


            var settings = {
                "url": "/api/distributeur/",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json",
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val()
                },
                "data": JSON.stringify(data),
                "processData": false,
                "contentType": "application/json"
            };

            $.ajax(settings)
                .done(function (response) {
                    console.log(response);

                    window.location.href = "/distributeur/";
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // Log the entire jqXHR object to see all details
                    console.log('jqXHR:', jqXHR);

                    // Log the status text
                    console.log('Status:', textStatus);

                    // Log the error thrown
                    console.log('Error Thrown:', errorThrown);

                    // Log the response text, which might contain detailed error messages
                    console.log('Response Text:', jqXHR.responseText); alert(jqXHR.responseText)

                    // Optionally, parse the responseText as JSON if it's in JSON format
                    try {
                        var responseJSON = JSON.parse(jqXHR.responseText);
                        console.log('Response JSON:', responseJSON);
                    } catch (e) {
                        console.error('Failed to parse response as JSON:', e);
                    }

                });
        });

        $('#edituserForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Create a plain object to hold the form data
            var data = {
                user: {
                    id: edit_user,
                    username: $('#edit_username').val(),
                    email: $('#edit_email').val(),
                    type: 'Distributeur',
                    first_name: $('#edit_first_name').val(),
                    last_name: $('#edit_last_name').val(),
                    telephone: $('#edit_telephone').val(),
                    responsable: $('#edit_responsable').val(),
                    region: $('#edit_region').find('option:selected').data('region'),
                    user_permissions: "84, 92, 88, 37, 40, 60, 68, 67, 66, 65, 76, 96, 100,99,98,97, 101, 102,103, 104, 105, 106, 107, 108",
                    is_active: $('#edit_is_active').prop('checked'),
                },
                code: $('#edit_code').val(),
                designation: $('#edit_designation').val(),
                ville: $('#edit_ville').val(),
                numero: $('#edit_numero').val(),
                adresse: $('#edit_adresse').val(),
                nif: $('#edit_nif').val(),
                nis: $('#edit_nis').val(),
                art: $('#edit_art').val(),
                rc: $('#edit_rc').val(),
                plafonnement: $('#edit_plafonnement').val(),
                bloquer: $('#edit_bloquer').prop('checked'), // Boolean
                echeance_jour: $('#edit_echeance_jour').val(),
                ristourn_a: $('#edit_ristourn_a').val(),
                ristourn_na: $('#edit_ristourn_na').val(),
                objectif_a: $('#edit_objectif_a').val(),
                objectif_m: $('#edit_objectif_m').val()
            };

            // Log the data object to see what you're sending
            console.log("Data to be sent:", data);

            var settings = {
                "url": "/api/distributeur/" + edit_elem + '/',  // Ensure this endpoint is correct
                "method": "PUT",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json",
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val()  // CSRF token for Django
                },
                "data": JSON.stringify(data),  // Convert the JS object to a JSON string
                "processData": false,  // Don't let jQuery process the data
                "contentType": "application/json"  // Explicitly set the content type to JSON
            };

            $.ajax(settings)
                .done(function (response) {
                    console.log("Success:", response);
                    window.location.href = "/distributeur/";  // Redirect on success
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // Log all error information
                    console.log('jqXHR:', jqXHR);
                    console.log('Status:', textStatus);
                    console.log('Error Thrown:', errorThrown);
                    console.log('Response Text:', jqXHR.responseText); alert(jqXHR.responseText)

                    // Try to parse the response if it's in JSON format
                    try {
                        var responseJSON = JSON.parse(jqXHR.responseText);
                        console.log('Response JSON:', responseJSON);
                    } catch (e) {
                        console.error('Failed to parse response as JSON:', e);
                    }
                });
        });


        // Open modal when delete button is clicked
        $('.delete-btn').on('click', function () {
            currentDeleteId = $(this).data('identifiant');
            console.log(currentDeleteId);
            $('#deleteModal').removeClass('hidden');
        });

        // Close modal when cancel is clicked
        $('#cancelDelete').on('click', function () {
            $('#deleteModal').addClass('hidden');
            currentDeleteId = null;
        });

        // Confirm delete action
        $('#confirmDelete').on('click', function () {
            if (currentDeleteId) {
                // Perform the delete action, e.g., make an AJAX call or redirect
                console.log('Deleting item with ID:', currentDeleteId);

                var settings = {
                    "url": "/api/distributeur/" + currentDeleteId + "/",
                    "method": "DELETE",
                    "timeout": 0,
                    "headers": {
                        "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                    },
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    $('#deleteModal').addClass('hidden');
                    window.location.href = "/distributeur/";
                });


            }
        });


    </script>
{% endblock %}
