{% extends "baseNew.html" %}
{% load mes_tags %}
{% load static %}
{% block title %}Formation{% endblock %}

{% block content %}
    <style>
        .hiddenelem {
            display: none;
        }
    </style>

    <div class="w-full h-full backprimer px-4 pb-4 flex flex-col">

        <!-- Add Produit Sidebar -->
        <div id="addSidebar" style="margin-top: -10px"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold textslate">Ajouter une formation</h3>
                <button id="closeSidebar" class="text-xl textslate text-md">&times;</button>
            </div>
            <!-- Step 1: Select Products -->
            <div id="step1" class="p-4 containerdef flex flex-col">

                <div class="p-4 h-28 flex-grow rounded-lg mb-4 gap-4 overflow-y-auto">

                    <div class="grid grid-cols-1 gap-4 mb-4">
                        <div class="">
                            <label for="titre"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Titre</label>

                            <input type="text" id="titre" name="titre" placeholder="Titre"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="nbrplace"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Nombre de
                                place</label>
                            <input type="number" id="nbrplace" name="nbrplace" placeholder="Nombre de place"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="duree"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Durée</label>
                            <input type="number" id="duree" name="duree" placeholder="Durée"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div>
                            <label for="tarif"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Tarif par
                                personne</label>
                            <input type="number" id="tarif" name="tarif" placeholder="Tarif"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="datedebut"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Date débutt</label>
                            <input type="date" id="datedebut" name="datedebut" placeholder="Date débutt"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>

                </div>

                <div class="h-12 flex justify-end pt-2">
                    <button id="goToStep2" class="goToStep2 h-10 bg-blue-500 text-white px-4 py-2 rounded-lg">Ajouter
                    </button>
                </div>

            </div>


        </div>


        <!-- edit Produit Sidebar -->
        <div id="editSidebar" style="margin-top: -10px"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold textslate">Editer une formation</h3>
                <button id="closeEditSidebar" class="text-xl textslate text-md">&times;</button>
            </div>
            <!-- Step 1: Select Products -->
            <div id="step1" class="p-4 containerdef flex flex-col">

                <div class="p-4 h-28 flex-grow rounded-lg mb-4 gap-4 overflow-y-auto">

                    <div class="grid grid-cols-1 gap-4 mb-4">
                        <div class="">
                            <label for="edit_titre"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Titre</label>

                            <input type="text" id="edit_titre" name="edit_titre" placeholder="Titre"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="edit_nbrplace"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Nombre de
                                place</label>
                            <input type="number" id="edit_nbrplace" name="edit_nbrplace" placeholder="Nombre de place"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="edit_duree"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Durée</label>
                            <input type="number" id="edit_duree" name="edit_duree" placeholder="Durée"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div>
                            <label for="edit_tarif"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Tarif par
                                personne</label>
                            <input type="number" id="edit_tarif" name="edit_tarif" placeholder="Tarif"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="edit_datedebut"
                                   class="block text-sm font-medium text-gray-700 mb-2 textslate">Date débutt</label>
                            <input type="date" id="edit_datedebut" name="edit_datedebut" placeholder="Date débutt"
                                   class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>

                </div>

                <div class="h-12 flex justify-end pt-2">
                    <button id="EditForm" class="goToStep2 h-10 bg-blue-500 text-white px-4 py-2 rounded-lg">Editer
                    </button>
                </div>

            </div>


        </div>

        <div class="flex justify-between items-center pt-4 mb-4" style="margin-top: -8px">
            <div class="flex gap-2">
                <div>
                    <a href="{% url 'formation' %}"
                       class="block px-4 py-2 actualprimer rounded">Formation</a>
                </div>
                <div><!-- accomptes -->
                    <a href="{% url 'problematique' %}" class="block px-4 py-2 hoverprimer rounded">Problematique</a>
                </div>
            </div>
            <div>
                <button id="filterButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                    hover:bg-blue-900 hover:border-slate-400 rounded-md">Filtrer
                </button>

                {% if 65 in listeauth %}
                    <button id="addButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                        hover:bg-blue-900 hover:border-slate-400 rounded-md">Ajouter
                    </button>
                {% else %}
                    <button class="btn capitalize bg-gray-500 text-white px-4 py-2 border rounded-md cursor-not-allowed">
                        Ajouter
                    </button>
                {% endif %}

            </div>
        </div>
        <hr/>

        <!-- Produit List Headers -->
        <div class="pt-4">
            <div class="flex items-center justify-between text-gray-600 font-semibold px-4 defaultboldval">
                <div class="w-1/4 capitalize">titre</div>
                <div class="w-16 capitalize">places</div>
                <div class="capitalize">place libre</div>
                <div class="capitalize">duree</div>
                <div class="capitalize">tarif/personne</div>
                <div class="capitalize px-4">datedebut</div>
                <div class="w-36 capitalize px-4 text-center">Actions</div>
            </div>
        </div>

        <div class="flex-grow shadow-md rounded-b-lg backslateprime p-2 overflow-y-auto">
            {% for elem in formations %}
                <div class="flex items-center justify-between p-2 backslateslite flex-none mb-2">
                    <div class="w-1/4 capitalize">{{ elem.titre }}</div>
                    <div class="w-16 capitalize">{{ elem.nbrplace }}</div>
                    <div class="capitalize">{{ elem.place_restante }}</div>
                    <div class="capitalize">{{ elem.duree }} Jours</div>
                    <div class="capitalize text-right">{{ elem.tarif|floate_redefined }} DA</div>
                    <div class="capitalize px-4">{{ elem.datedebut|date:"d-m-Y" }}</div>
                    <div class="w-36 capitalize px-4">
                        <button id="viewButton" class="viewButton bg-blue-500 text-white p-2 rounded"
                                data-identifiant="{{ elem.id }}" data-etat="{{ elem.etat }}">
                            <i class="fas fa-search"></i>
                        </button>

                        <button id="editButton" class="editButton bg-blue-500 text-white p-2 rounded"
                                data-identifiant="{{ elem.id }}">
                            <i class="fas fa-pencil-alt" onclick=""></i>
                        </button>

                        <button class="bg-red-500 text-white p-2 rounded delete-btn"
                                data-identifiant="{{ elem.id }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                </div>
            {% endfor %}
        </div>


        <div id="deleteModal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50">
            <div class="backslate p-4 rounded-lg w-96 backprimer">
                <h2 class="text-lg font-semibold text-gray-700 mb-4">Confirm Delete</h2>
                <p>Etes vous sure de vouloir supprimer cette commande?</p>
                <div class="mt-6 flex justify-end space-x-4">
                    <button id="cancelDelete" class="px-4 py-2 bg-gray-300 rounded">Annuler</button>
                    <button id="confirmDelete" class="px-4 py-2 bg-red-500 text-white rounded">Supprimer</button>
                </div>
            </div>
        </div>

        <!-- View Sidebar -->
        <div id="viewSidebar" style="margin-top: -10px"
             class="flex flex-col fixed right-0 top-0 bottom-0 w-4/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold textslate">Détail Formation</h3>
                <button id="closeViewSidebar" class="text-xl textslate hover:text-gray-700">&times;</button>
            </div>

            <div id="containerdatacmd" class="flex-grow flex flex-col p-8">
                <div class="grid grid-cols-5 gap-4">
                    <label class="col-span-3">Titre</label>
                    <label>Nombre de place</label>
                    <label>Durée</label>
                    <div id="view_titre"
                         class="mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md col-span-3 h-10"></div>
                    <div id="view_duree"
                         class="mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md h-10"></div>
                    <div id="view_nbrplace"
                         class="mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md h-10"></div>


                    <label class="col-span-3">Tarif par personne</label>
                    <label>Date début</label>
                    <label>date fin</label>
                    <div id="view_tarif"
                         class="mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md col-span-3 h-10 text-right"></div>
                    <div id="view_datedebut"
                         class="mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md h-10"></div>
                    <div id="view_datefin"
                         class="mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md h-10"></div>
                </div>
                <div class="flex p-2">
                    <div class="w-1/4">
                        <label>Distributeurs</label>
                    </div>
                    <div class="flex w-3/4">
                        <div class="w-2/5">nom</div>
                        <div class="w-1/5">prenom</div>
                        <div class="w-1/5">poste</div>
                        <div class="w-1/5">dateajout</div>
                    </div>
                </div>
                <div id="listesingup" class="flex-grow overflow-y-auto">
                </div>


            </div>


        </div>

        <!-- Pop up -->
        <div id="addbl" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
            <form>
                <div class="relative w-screen h-screen flex justify-center items-center">
                    <div class="backprimer textslate w-3/4 h-3/4 p-6 rounded-lg shadow-lg flex flex-col gap-y-2">
                        <h3 class="text-lg font-semibold">Ajout BL</h3>


                        <!-- div list products -->
                        <div class="grid grid-cols-8 text-gray-600 font-semibold px-4 capitalize">
                            <div class="col-span-2">Produit</div>
                            <div class="col-span-1">Type/Mesure</div>
                            <div class="col-span-1">Couleur</div>
                            <div class="col-span-1">Prix unitaire</div>
                            <div class="col-span-1">Quantité restante</div>
                            <div class="col-span-1">Quantité à livrer</div>
                            <div class="col-span-1 text-right">Total</div>
                        </div>
                        <!--<div class="bg-blue-300 flex w-full">
                            <div class="flex-grow">Produit</div>
                            <div class="flex-grow"></div>
                            <div class="flex-grow"></div>
                            <div class="flex-grow">Type/Mesure</div>
                            <div class="flex-grow">Couleur</div>
                            <div class="flex-grow">Prix unitaire</div>
                            <div class="flex-grow">Quantité restante</div>
                            <div class="flex-grow">Quantité a livré</div>
                            <div class="flex-grow">Total</div>
                        </div>-->
                        <div class="listeblprod flex-grow shadow-md rounded-b-lg backslateprime p-2 overflow-y-auto defaultval"
                             id="listeblprod">
                        </div>
                        <div class="grid grid-cols-8 text-right pr-4 text-lg">
                            <div class="col-span-7 mr-3.5">Total HT:</div>
                            <div class="col-span-1" id="totalhtbl">0 DA</div>
                        </div>
                        <div class="grid grid-cols-8 text-right pr-4 text-lg">
                            <div class="col-span-7">Total Taxe:</div>
                            <div class="col-span-1" id="totaltaxebl">0 DA</div>
                        </div>
                        <div class="flex justify-around">
                            <div class="">
                                <button type="button" id="closePopup"
                                        class="bg-gray-500 text-white px-4 py-2 rounded-lg">
                                    Annuler
                                </button>
                            </div>

                            <div class="flex-grow flex items-center justify-around space-x-4">
                                <div class="flex items-center justify-center space-x-4">
                                    <input id="facture_id" class="border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                                    p-2.5" placeholder="Facture"/>
                                </div>

                                <div class="flex items-center space-x-4 border border-gray-300 rounded-lg w-72 fileinputback">
                                    <label for="file-upload" class="block flex-shrink-0">
                                        <div class="flex items-center justify-center px-4 py-2 rounded-l-lg backslate text-blue-500 cursor-pointer hover:bg-blue-500 hover:text-white transition-colors duration-300">
                                            <span>Fichier FC</span>
                                        </div>
                                        <input id="file-upload" type="file" class="hidden"/>
                                    </label>
                                    <span id="file-name" class="text-gray-800 w-64 truncate">No fc file</span>
                                </div>

                                <div class="flex items-center space-x-4 border border-gray-300 rounded-lg w-72 fileinputback">
                                    <label for="file-upload2" class="block flex-shrink-0">
                                        <div class="flex items-center justify-center px-4 py-2 rounded-l-lg backslate text-blue-500 cursor-pointer hover:bg-blue-500 hover:text-white transition-colors duration-300">
                                            <span>Fichier BL</span>
                                        </div>
                                        <input id="file-upload2" type="file" class="hidden"/>
                                    </label>
                                    <span id="file-name2" class="text-gray-800 w-64 truncate">No bl file</span>
                                </div>

                            </div>

                            <div class="">
                                <input type="submit" class="bg-green-300 text-white px-4 py-2 rounded-lg"
                                       id="validatebl"
                                       value="Valider">
                            </div>
                        </div>


                    </div>
                </div>
            </form>

        </div>
    </div>


    <!-- add elems -->
    <script>

        {% if 7 not in listmodules %}
            $("#userslistlink").addClass('hidden');
        {% endif %}

        {% if 14 not in listmodules %}
            $("#prodlistlink").addClass('hidden');
        {% endif %}

        {% if 9 not in listmodules %}
            $("#distlistlink").addClass('hidden');
        {% endif %}

        {% if 17 not in listmodules %}
            $("#cmdlistlink").addClass('hidden');
        {% endif %}

        {% if 21 not in listmodules %}
            $("#enclistlink").addClass('hidden');
        {% endif %}

        {% if 26 not in listmodules %}
            $("#formslistlink").addClass('hidden');
        {% endif %}
        var selectedProducts = [];
        var editselectedProducts = [];
        var $containerdatacmd = $('#containerdatacmd');

        function formatNumber(num) {
            return new Intl.NumberFormat('fr-FR', {minimumFractionDigits: 2, maximumFractionDigits: 2}).format(num);
        }

        $('#addButton').click(function () {
            $('#addSidebar').removeClass('translate-x-full').addClass('translate-x-0');
        });


        // Close the sidebar
        $('#closeEditSidebar').on('click', function () {
            $('#editSidebar').addClass('translate-x-full');
        });
        // Close sidebar when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#editButton, #editSidebar').length) {
                $('#editSidebar').addClass('translate-x-full');
            }
        });


        $('#closeSidebar').click(function () {
            $('#addSidebar').removeClass('translate-x-0').addClass('translate-x-full');
        });

        $('#filterButton').click(function () {
            $('#filterModal').removeClass('hidden');
        });

        $('#closeFilterModal').click(function () {
            $('#filterModal').addClass('hidden');
        });


        $('#closeViewSidebar').on('click', function () {
            $('#viewSidebar').addClass('translate-x-full');
        });

    </script>


    <!-- edit elems -->
    <script>

        //listeauth = { { listeauth }};


        $(document).ready(function () {

            $('.editButton').on('click', function () {
                identifiant = $(this).data('identifiant');
                editselectedProducts = [];
                $('#editselectedProducts').html("");

                let settings = {
                    url: `/api/formation/${identifiant}`,
                    method: "GET",
                    timeout: 0,
                    headers: {
                        "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                    },
                };

                $.ajax(settings).done(function (response) {
                    let responsedata = response;

                    $('#edit_titre').val(responsedata['titre']);
                    $('#edit_nbrplace').val(responsedata['nbrplace']);
                    $('#edit_duree').val(responsedata['duree']);
                    $('#edit_tarif').val(responsedata['tarif']);
                    $('#edit_datedebut').val(responsedata['datedebut']);
                    $('#listesingup').html('');

                    for (ind = 0; ind < responsedata['groups']; ind++) {
                        $('#listesingup').append(`
                                <div class="flex">
                                    <div class="w-1/4">
                                        <label>Distributeur:</label>
                                        <label>nom & prenom</label>

                                        <label>Nbr place:</label>
                                        <label>26</label>

                                        <label>>Total:</label>
                                        <label>160000</label>
                                    </div>
                                    <div class="flex w-3/4">
                                        <div class="w-2/5">nom</div>
                                        <div class="w-1/5">prenom</div>
                                        <div class="w-1/5">poste</div>
                                        <div class="w-1/5">dateajout</div>
                                    </div>
                                </div>
                            `)
                    }


                    $('#editSidebar').toggleClass('translate-x-full');
                });


            });

        });


        $('.viewButton').on('click', function () {

            identifiant = $(this).data('identifiant');
            editselectedProducts = [];
            $('#editselectedProducts').html("");

            let settings = {
                url: `/api/formation/${identifiant}`,
                method: "GET",
                timeout: 0,
                headers: {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                },
            };

            $.ajax(settings).done(function (response) {
                let responsedata = response;

                $('#view_titre').html(responsedata['titre']);
                $('#view_duree').html(responsedata['nbrplace']);
                $('#view_nbrplace').html(responsedata['duree']);
                $('#view_tarif').html(formatNumber(responsedata['tarif']) + " DA Par personne");
                $('#view_datedebut').html(responsedata['datedebut']);
                $('#view_datefin').html(responsedata['datefin']);

                console.log(responsedata)
                $('#listesingup').html('');

                for (ind = 0; ind < responsedata['groups'].length; ind++) {
                    data1 = responsedata['groups'][ind]
                    data2list = data1['Equipeline']
                    console.log(data2list)
                    idelem = "listdist_" + data1['distributeur']
                    listeinfo = ""

                    for (ind2 = 0; ind2 < data2list.length; ind2++) {
                        data2 = data2list[ind2]
                        listeinfo = listeinfo + `
                                <div class="w-full flex mt-1 p-2 block w-full bg-white shadow-sm sm:text-sm border-gray-300 rounded-md col-span-3 h-10">
                                    <div class="w-2/5">` + data2['nom'] + `</div>
                                    <div class="w-1/5">` + data2['prenom'] + `</div>
                                    <div class="w-1/5">` + data2['poste'] + `</div>
                                    <div class="w-1/5">` + data2['dateajout'] + `</div>
                                </div>
                            `

                    }

                    $('#listesingup').append(`
                                <div class="flex items-center justify-between p-2 backslateslite flex-none mb-2">
                                    <div class="w-1/4 flex flex-col">
                                        <label>Distributeur: ` + data1['distributeurname'] + `</label>
                                        <label>Place subsc: ` + data1['nbrelem'] + `</label>
                                        <label>Prix par per: ` + data1['prixtotal'] + `</label>
                                    </div>
                                    <div class="flex w-3/4 flex flex-col">
                                        ` + listeinfo + `
                                    </div>
                                </div>
                            `)

                }


                $('#viewSidebar').toggleClass('translate-x-full');
            });


        });


        $('.popupButton').click(function () {
            identifiant = $(this).data('identifiant');

            $listeblprod = $('#listeblprod');
            $listeblprod.html('');
            let settings = {
                url: `/api/commandedetail/${identifiant}`,
                method: "GET",
                timeout: 0,
                headers: {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                },
            };
            cpt = 0;
            $.ajax(settings).done(function (response) {
                let responsedata = response;
                for (i = 0; i < responsedata['commandesLines'].length; i++) {
                    itemprod = responsedata['commandesLines'][i];
                    nbrrestant = itemprod['quantite'] - itemprod['total_quantite'];
                    $listeblprod.append(`
                            <div class="grid grid-cols-8 bg-gray-50 p-2 rounded-lg mb-2 product-line backslateslite"
                                data-unitprice="${itemprod['prixunitaire']}" data-idprodelem="${itemprod['produit']['id']}">
                                <div class="flex items-center col-span-2">
                                    <img src="${itemprod['produit']['image']}" alt="product" class="h-12 w-12 rounded-lg mr-4">
                                    <div>
                                        <h3 class="font-bold text-blue-600 productName">${itemprod['produit']['designation']}</h3>
                                        <p class="text-sm productRef">${itemprod['produit']['reference']}</p>
                                    </div>
                                </div>
                                <div class="col-span-1">
                                    <h3 class="font-bold productName">${itemprod['produit']['type']['designation']}</h3>
                                    <p class="text-sm productRef">${itemprod['produit']['mesure']['designation']}</p>
                                </div>
                                <div class="col-span-1">${itemprod['produit']['couleur']['designation']}</div>
                                <div class="col-span-1 prixunitaire">${formatNumber(itemprod['prixunitaire'])} DA</div>
                                <div class="col-span-1 pr-4 nbrrestant">${nbrrestant}</div>
                                <div class="col-span-1 text-right pr-4">
                                    <input type="number" data-idelem="${cpt}" class="inputblquantity review-quantity bg-gray-50 border border-gray-300
                                        text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                                        w-full p-2.5" value="0" min="0" max="${nbrrestant}" />
                                </div>
                                <div class="col-span-1 text-right pr-4 totalbl" id="totalbl_${cpt}">0 DA</div>
                            </div>
                        `);
                    cpt++;
                }

                // Function to calculate the totals
                function calculateTotals() {
                    let totalHT = 0;

                    // Iterate through each product line
                    $('.product-line').each(function () {
                        const quantity = $(this).find('.review-quantity').val();
                        const unitPrice = parseFloat($(this).data('unitprice'));

                        // Calculate the total for the line
                        const totalLine = quantity * unitPrice;

                        // Update the total for the line
                        $(this).find('.totalbl').text(formatNumber(totalLine) + ' DA');

                        // Add to the total HT
                        totalHT += totalLine;
                    });

                    // Update total HT
                    $('#totalhtbl').text(formatNumber(totalHT) + ' DA');

                    // Calculate and update total with tax
                    const totalTaxe = totalHT + totalHT * 0.19;
                    $('#totaltaxebl').text(formatNumber(totalTaxe) + ' DA');
                }

                // Add event listener for quantity input change
                $('.inputblquantity').on('input', function () {
                    calculateTotals();
                });

                // Initial calculation on popup load
                calculateTotals();

                $('#addbl').fadeIn();
            });
        });

        // Close the popup
        $('#closePopup').click(function () {
            $('#addbl').fadeOut();
        });

        // Optional: Close popup if clicking outside of the popup content
        $(window).click(function (event) {
            if ($(event.target).is('#addbl')) {
                $('#addbl').fadeOut();
            }
        });
        

        $('#EditForm').on('click', function () {

            var settings = {
                "url": "/api/formation/" + identifiant + '/',
                "method": "put",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json",
                    "X-CSRFToken": $('input[name= csrfmiddlewaretoken]').val(),  // Assuming you have CSRF token in your template context
                },
                "data": JSON.stringify({
                    "titre": $('#edit_titre').val(),
                    "nbrplace": $('#edit_nbrplace').val(),
                    "duree": $('#edit_duree').val(),
                    "tarif": $('#edit_tarif').val(),
                    "datedebut": $('#edit_datedebut').val(),
                }),
            };

            $.ajax(settings)
                .done(function (response) {
                    console.log(response);


                    window.location.href = "/formation/";
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // Log the entire jqXHR object to see all details
                    console.log('jqXHR:', jqXHR);

                    // Log the status text
                    console.log('Status:', textStatus); alert(textStatus)

                    // Log the error thrown
                    console.log('Error Thrown:', errorThrown);

                    // Log the response text, which might contain detailed error messages
                    console.log('Response Text:', jqXHR.responseText);

                    // Optionally, parse the responseText as JSON if it's in JSON format
                    try {
                        var responseJSON = JSON.parse(jqXHR.responseText);
                        console.log('Response JSON:', responseJSON);
                    } catch (e) {
                        console.error('Failed to parse response as JSON:', e);
                    }

                });

        });


        $('#validatebl').on('click', function (e) {
            e.preventDefault();
            liste_prodbl = [];
            $('#listeblprod .product-line').each(function (index) {
                var product_idbl = parseInt($(this).data('idprodelem'));
                var quantity = parseInt($(this).find('.inputblquantity').val());
                var nbrrestant = parseInt($(this).find('.nbrrestant').html());

                if (quantity > nbrrestant) {
                    alert("Vous ne pouvez pas depasser la quantité réstante.")
                } else {
                    liste_prodbl.push({
                        "produit": product_idbl,
                        "quantite": quantity
                    })
                }
            });
            if (!quantity > nbrrestant) {
                let liste_prodbl_json = JSON.stringify(liste_prodbl);

                var form = new FormData();

                var fcFile = $("#file-upload")[0].files[0];
                var blFile = $("#file-upload2")[0].files[0];

                if (fcFile) {
                    form.append("fc_file", fcFile);
                }
                if (blFile) {
                    form.append("bl_file", blFile);
                }

                $facture_id = $('#facture_id');

                if ($facture_id.val() === "") facture = null;
                else facture = $facture_id.val();

                // Additional data
                form.append("facture", facture);
                form.append("BonLivraison", liste_prodbl_json);
                form.append("commandes", identifiant);


                var settings = {
                    "url": "/api/blivraison/",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "X-CSRFToken": $('input[name= csrfmiddlewaretoken]').val(),
                    },
                    "processData": false,
                    "contentType": false,
                    "data": form,
                };

                $.ajax(settings)
                    .done(function (response) {

                        window.location.href = "/commande/";
                        console.log(response);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        // Log the entire jqXHR object to see all details
                        console.log('jqXHR:', jqXHR);

                        // Log the status text
                        console.log('Status:', textStatus); alert(textStatus)

                        // Log the error thrown
                        console.log('Error Thrown:', errorThrown);

                        // Log the response text, which might contain detailed error messages
                        console.log('Response Text:', jqXHR.responseText);

                        // Optionally, parse the responseText as JSON if it's in JSON format
                        try {
                            var responseJSON = JSON.parse(jqXHR.responseText);
                            console.log('Response JSON:', responseJSON);
                        } catch (e) {
                            console.error('Failed to parse response as JSON:', e);
                        }

                    });
            }


        });

        let currentDeleteId = null;

        // Open modal when delete button is clicked
        $('.delete-btn').on('click', function () {
            currentDeleteId = $(this).data('identifiant');
            console.log(currentDeleteId);
            $('#deleteModal').removeClass('hidden');
        });

        // Close modal when cancel is clicked
        $('#cancelDelete').on('click', function () {
            $('#deleteModal').addClass('hidden');
            currentDeleteId = null;
        });

        // Confirm delete action
        $('#confirmDelete').on('click', function () {
            if (currentDeleteId) {
                // Perform the delete action, e.g., make an AJAX call or redirect
                console.log('Deleting item with ID:', currentDeleteId);

                var settings = {
                    "url": "/api/formation/" + currentDeleteId + "/",
                    "method": "DELETE",
                    "timeout": 0,
                    "headers": {
                        "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                    },
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    $('#deleteModal').addClass('hidden');
                });


            }
        });


    </script>
{% endblock %}
