{% extends "baseNew.html" %}
{% load static %}
{% block title %}Nouveau Payeur{% endblock %}
{% block content %}
    <div class="w-full h-full backprimer px-4 pb-4 flex flex-col">
        <!-- Add User Sidebar -->
        <div id="addSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform
             translate-x-full transition-transform duration-300 z-50 ">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold">Ajouter un Payeur</h3>
                <button id="closeSidebar" class="text-2xl textslate">&times;</button>
            </div>
            <!-- Add User Form -->
            <div class="p-4">

                <form id="userForm">
                    <div class="p-4" style="height: calc(100% - 10rem); overflow-y: auto;">
                        <div class="grid grid-cols-2 gap-4 mb-4">

                            <div class="col-span-2">
                                <input type="text" id="code" name="code" placeholder="Code"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="designation" name="designation" placeholder="Désignation"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="ville" name="ville"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for ville in ville_list %}
                                        <option data-region="{{ ville.region }}"
                                                value="{{ ville.id }}">{{ ville.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="adresse" name="adresse" placeholder="Adresse"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="telephone" name="telephone" placeholder="Téléphone"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="nif" name="nif" placeholder="NIF"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md pr-10">

                                <!-- File Input Icon -->
                                <input type="file" id="niffile" class="hidden" onchange="toggleFileIconColoradd()">

                                <!-- File Icon -->
                                <label for="niffile" id="nif_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>

                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="nis" name="nis" placeholder="NIS"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md pr-10">

                                <!-- File Input Icon -->
                                <input type="file" id="nisfile" class="hidden" onchange="toggleFileIconColoradd2()">

                                <!-- File Icon -->
                                <label for="nisfile" id="nis_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>

                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="art" name="art" placeholder="ART"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md pr-10">

                                <!-- File Input Icon -->
                                <input type="file" id="artfile" class="hidden" onchange="toggleFileIconColoradd3()">

                                <!-- File Icon -->
                                <label for="artfile" id="art_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>

                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="rc" name="rc" placeholder="RC"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md pr-10">

                                <!-- File Input Icon -->
                                <input type="file" id="rcfile" class="hidden" onchange="toggleFileIconColoradd4()">

                                <!-- File Icon -->
                                <label for="rcfile" id="rc_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end py-8">
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit User Sidebar -->
        <div id="editSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50"
             style="margin-top: -8px">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold">Editer payeur: </h3>
                <button id="closeEditSidebar" class="text-2xl textslate">&times;</button>
            </div>
            <!-- Edit User Form -->

            <div class="p-4">
                <form id="edituserForm">
                    <div class="p-4" style="height: calc(100% - 10rem); overflow-y: auto;">

                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div class="col-span-2">
                                <input type="text" id="edit_code" name="edit_code" placeholder="Code"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_designation" name="edit_designation"
                                       placeholder="edit_Désignation"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_telephone" name="edit_telephone" placeholder="Téléphone"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="edit_ville" name="edit_ville"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for ville in ville_list %}
                                        <option data-region="{{ ville.region }}"
                                                value="{{ ville.id }}">{{ ville.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="edit_adresse" name="edit_adresse" placeholder="Adresse"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>


                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="edit_nif" name="edit_nif" placeholder="NIF"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md pr-10">

                                <!-- File Input Icon -->
                                <input type="file" id="edit_niffile" class="hidden" onchange="toggleFileIconColor()">

                                <!-- File Icon -->
                                <label for="edit_niffile" id="editnif_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>
                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="edit_nis" name="edit_nis" placeholder="NIS"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <!-- File Input Icon -->
                                <input type="file" id="edit_nisfile" class="hidden" onchange="toggleFileIconColor2()">

                                <!-- File Icon -->
                                <label for="edit_nisfile" id="editnis_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>
                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="edit_art" name="edit_art" placeholder="ART"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <!-- File Input Icon -->
                                <input type="file" id="edit_artfile" class="hidden" onchange="toggleFileIconColor3()">

                                <!-- File Icon -->
                                <label for="edit_artfile" id="editart_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>
                            <div class="relative">
                                <!-- Text Input -->
                                <input type="text" id="edit_rc" name="edit_rc" placeholder="RC"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                <!-- File Input Icon -->
                                <input type="file" id="edit_rcfile" class="hidden" onchange="toggleFileIconColor4()">

                                <!-- File Icon -->
                                <label for="edit_rcfile" id="editrc_icon" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-gray-400 bg-gray-300 rounded-r-md">

                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                    </svg>
                                </label>
                            </div>


                            <div class="flex items-center gap-4">
                                <label>Active</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light" id="edit_is_active" disabled type="checkbox"/>
                                    <label class="tgl-btn" for="edit_is_active"></label>
                                </div>
                            </div>

                            <div class="flex items-center gap-4">
                                <label>Valide</label>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light" id="edit_draft" disabled type="checkbox"/>
                                    <label class="tgl-btn" for="edit_draft"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="flex justify-end py-8">
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400">
                            Modifier
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- View User Sidebar -->
        <div id="viewSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50"
             style="margin-top: -8px">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold">Editer payeur: </h3>
                <button id="closeViewSidebar" class="text-2xl textslate">&times;</button>
            </div>
            <!-- Edit User Form -->

            <div class="p-4">
                <div class="p-4" style="height: calc(100% - 10rem); overflow-y: auto;">

                    <div class="grid grid-cols-2 gap-4 mb-4">
                        <div class="col-span-2">
                            <div id="view_code"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                        </div>
                        <div>
                            <div id="view_designation"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                        </div>
                        <div>
                            <div id="view_telephone"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                        </div>
                        <div>
                            <div id="view_ville"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                        </div>
                        <div>
                            <div id="view_adresse"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                        </div>


                        <div class="relative">
                            <!-- Text Input -->
                            <div id="view_nif"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>

                            <div id="nifview"></div>


                        </div>
                        <div class="relative">
                            <!-- Text Input -->
                            <div id="view_nis"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>

                            <div id="nisview"></div>

                        </div>
                        <div class="relative">
                            <!-- Text Input -->
                            <div id="view_art"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>

                            <div id="artview"></div>
                        </div>
                        <div class="relative">
                            <!-- Text Input -->
                            <div id="view_rc"
                                 class="mt-1 p-2 block w-full bg-white h-10 shadow-sm sm:text-sm border-gray-300 rounded-md"></div>
                            <div id="rcview"></div>

                        </div>


                        <div class="flex items-center gap-4">
                            <label>Active</label>
                            <div class="checkbox-wrapper-6">
                                <input class="tgl tgl-light" id="view_is_active" disabled type="checkbox"/>
                                <label class="tgl-btn" for="view_is_active"></label>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="flex justify-end py-8">
                </div>
            </div>
        </div>

        <!-- Filter Modal -->
        <div id="filterModal" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40 flex items-center justify-center"
             style="margin-top: -16px">
            <div class="bg-white w-1/3 rounded-lg shadow-lg">
                <div class="flex justify-between items-center p-4 border-b">
                    <h3 class="text-lg font-semibold">Filtres</h3>
                    <button id="closeFilterModal" class="text-gray-500 hover:text-gray-700">&times;</button>
                </div>
                <div class="p-4">
                    <!-- Filter Form -->
                </div>
            </div>
        </div>

        <div class="flex justify-between items-center pt-4 mb-4" style="margin-top: -8px">
            <h2 class="text-2xl font-bold textslate">Liste des payeurs</h2>
            <div>
                <button id="filterButton" class="bg-gray-800 text-white py-2 px-4 rounded-lg hover:bg-gray-700">Filtrer
                </button>


                {% if 37 in listeauth %}
                    <button id="addButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                        hover:bg-blue-900 hover:border-slate-400 rounded-md">Ajouter
                    </button>
                {% else %}
                    <button class="btn capitalize bg-gray-500 text-white px-4 py-2 border rounded-md cursor-not-allowed">
                        Ajouter
                    </button>
                {% endif %}

            </div>
        </div>
        <hr/>


        <!-- User List Headers -->
        <div class="pt-4">
            <div class="flex items-center justify-between text-gray-600 font-semibold">
                <div class="w-1/4 capitalize">Désignation</div>
                <div class="w-1/4 capitalize">Distributeur</div>
                <div class="w-1/6 capitalize">Code</div>
                <div class="w-1/6 capitalize">Ville</div>
                <div class="w-1/6 capitalize">Téléphone</div>
                <div class="w-1/6 capitalize">Date d'ajout</div>
                <div class="w-1/6 capitalize pl-12">état</div>
                <div class="w-1/6 capitalize text-center">Actions</div>
            </div>
        </div>

        <!-- User List -->
        <div class="flex-grow shadow-md rounded-b-lg backslateprime p-2 overflow-y-auto">
            {% for elem in dist_list %}
                <div class="flex items-center justify-between p-2 backslateslite flex-none mb-2 ">
                    <div class="textslate w-1/4">{{ elem.designation }}</div>
                    <div class="textslate w-1/4">{{ elem.distributeur }}</div>
                    <div class="textslate w-1/6">{{ elem.code }}</div>
                    <div class="textslate w-1/6">{{ elem.ville }}</div>
                    <div class="textslate w-1/6">{{ elem.telephone }}</div>
                    <div class="textslate w-1/6">{{ elem.date_ajout|date:'d-m-Y' }}</div>
                    <div class="w-1/6 text-center">
                    <span class="bg-gray-500 text-white text-xs px-2 py-1 rounded">{% if elem.bloque %}
                        Bloqué {% else %} Actif {% endif %}</span>
                    </div>
                    <div class="flex space-x-2 w-1/6 justify-end">
                        {% if 40 in listeauth %}
                            <button id="viewButton" class="viewButton bg-blue-500 text-white p-2 rounded">
                                <i class="fas fa-search"
                                   onclick="newdatauserview({{ elem.id }}, {{ elem.distributeur.id }}, '{{ elem.code }}', '{{ elem.designation }}', {{ elem.ville.id }}
                                           , '{{ elem.telephone }}', '{{ elem.adresse }}', '{{ elem.nif }}', '{{ elem.nis }}', '{{ elem.art }}',
                                           '{{ elem.rc }}', '{{ elem.active }}'
                                           )">
                                </i>
                            </button>
                        {% else %}
                            <button class="cursor-not-allowed bg-gray-500 text-white p-2 rounded">
                                <i class="fas fa-search"></i>
                            </button>
                        {% endif %}

                        {% if 38 in listeauth %}
                            <button id="editButton" class="editButton bg-blue-500 text-white p-2 rounded">
                                <i class="fas fa-pencil-alt"
                                   onclick="newdatauser({{ elem.id }}, {{ elem.distributeur.id }}, '{{ elem.code }}', '{{ elem.designation }}', {{ elem.ville.id }}
                                           , '{{ elem.telephone }}', '{{ elem.adresse }}', '{{ elem.nif }}', '{{ elem.nis }}', '{{ elem.art }}',
                                           '{{ elem.rc }}', '{{ elem.active }}'
                                           )">
                                </i>
                            </button>
                        {% else %}
                            <button class="cursor-not-allowed bg-gray-500 text-white p-2 rounded">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        {% endif %}

                        {% if 39 in listeauth %}
                            <button class="bg-red-500 text-white p-2 rounded delete-btn"
                                    data-identifiant="{{ elem.id }}"><i class="fas fa-trash"></i></button>
                        {% else %}
                            <button class="cursor-not-allowed bg-gray-500 text-white p-2 rounded"><i
                                    class="fas fa-trash"></i></button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div id="deleteModal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50">
        <div class="bg-white p-4 rounded-lg w-96">
            <h2 class="text-lg font-semibold text-gray-700 mb-4">Confirm Delete</h2>
            <p>Are you sure you want to delete this item?</p>
            <div class="mt-6 flex justify-end space-x-4">
                <button id="cancelDelete" class="px-4 py-2 bg-gray-300 rounded">Cancel</button>
                <button id="confirmDelete" class="px-4 py-2 bg-red-500 text-white rounded">Delete</button>
            </div>
        </div>
    </div>

    <script>

        {% if 7 not in listmodules %}
            $("#userslistlink").addClass('hidden');
        {% endif %}

        {% if 14 not in listmodules %}
            $("#prodlistlink").addClass('hidden');
        {% endif %}

        {% if 9 not in listmodules %}
            $("#distlistlink").addClass('hidden');
        {% endif %}

        {% if 17 not in listmodules %}
            $("#cmdlistlink").addClass('hidden');
        {% endif %}

        {% if 21 not in listmodules %}
            $("#enclistlink").addClass('hidden');
        {% endif %}

        {% if 26 not in listmodules %}
            $("#formslistlink").addClass('hidden');
        {% endif %}
        edit_payeur_id = 0;
        edit_distri_id = 0;

        $telephone = $('#telephone');
        $distributeur = $('#distributeur');
        $code = $('#code');
        $designation = $('#designation');
        $ville = $('#ville');
        $adresse = $('#adresse');
        $nif = $('#nif');
        $nis = $('#nis');
        $art = $('#art');
        $rc = $('#rc');


        function toggleFileIconColor() {
            const fileInput = document.getElementById('edit_niffile');
            const fileIcon = document.getElementById('editnif_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }


        function toggleFileIconColor2() {
            const fileInput = document.getElementById('edit_nisfile');
            const fileIcon = document.getElementById('editnis_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }

        function toggleFileIconColor3() {
            const fileInput = document.getElementById('edit_artfile');
            const fileIcon = document.getElementById('editart_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }


        function toggleFileIconColor4() {
            const fileInput = document.getElementById('edit_rcfile');
            const fileIcon = document.getElementById('editrc_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }


        function toggleFileIconColoradd() {
            const fileInput = document.getElementById('niffile');
            const fileIcon = document.getElementById('nif_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }


        function toggleFileIconColoradd2() {
            const fileInput = document.getElementById('nisfile');
            const fileIcon = document.getElementById('nis_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }

        function toggleFileIconColoradd3() {
            const fileInput = document.getElementById('artfile');
            const fileIcon = document.getElementById('art_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }


        function toggleFileIconColoradd4() {
            const fileInput = document.getElementById('rcfile');
            const fileIcon = document.getElementById('rc_icon');

            // Toggle the icon color based on whether a file is selected
            if (fileInput.files.length > 0) {
                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            } else {
                fileIcon.classList.remove('text-blue-500');
                fileIcon.classList.add('text-gray-400');
            }
        }


        // Toggle the sidebar
        $('#addButton').on('click', function () {
            $('#addSidebar').toggleClass('translate-x-full');
        });

        // Toggle the sidebar edit
        $('.editButton').on('click', function () {
            $('#editSidebar').toggleClass('translate-x-full');
        });

        // Close the sidebar
        $('#closeSidebar').on('click', function () {
            $('#addSidebar').addClass('translate-x-full');
        });

        // Toggle the sidebar edit
        $('.viewButton').on('click', function () {
            $('#viewSidebar').toggleClass('translate-x-full');
        });


        // Close the sidebar
        $('#closeEditSidebar').on('click', function () {
            $('#editSidebar').addClass('translate-x-full');
        });

        // Show the filter modal
        $('#filterButton').on('click', function () {
            $('#filterModal').removeClass('hidden');
        });

        // Close the filter modal
        $('#closeFilterModal').on('click', function () {
            $('#filterModal').addClass('hidden');
        });
        $('#closeViewSidebar').on('click', function () {
            $('#viewSidebar').addClass('hidden');
        });

        // Close sidebar when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#addButton, #addSidebar').length) {
                $('#addSidebar').addClass('translate-x-full');
            }
        });

        // Close sidebar when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#editButton, #editSidebar').length) {
                $('#editSidebar').addClass('translate-x-full');
            }
        });

        // Close filter modal when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#filterButton, #filterModal').length) {
                $('#filterModal').addClass('hidden');
            }
        });


        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }


        function newdatauserview(id, distributeur, code, designation, ville, telephone, adresse, nif, nis, art, rc, active,
                                 niffile, nisfile, artfile, rcfile) {


            $("#view_code").html(code);
            $("#view_designation").html(designation);
            $("#view_adresse").html(adresse);
            $("#view_telephone").html(telephone);
            $("#view_ville").html(ville);
            $("#view_nif").html(nif);
            $("#view_nis").html(nis);
            $("#view_art").html(art);
            $("#view_rc").html(rc);

            $("#nifview").html("");
            if (niffile !== "") {
                $("#nifview").append(`<a href="/media/${niffile}" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-blue-500 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)

            } else {
                $("#nifview").append(`<a href="#" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 text-gray-400 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)
            }

            $("#nisview").html("");
            if (nisfile !== "") {
                $("#nisview").append(`<a href="/media/${nisfile}" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-blue-500 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)

            } else {
                $("#nisview").append(`<a href="#" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 text-gray-400 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)
            }

            $("#artview").html("");
            if (artfile !== "") {
                $("#artview").append(`<a href="/media/${artfile}" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-blue-500 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)

            } else {
                $("#artview").append(`<a href="#" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 text-gray-400 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)
            }

            $("#rcview").html("");
            if (rcfile !== "") {
                $("#rcview").append(`<a href="/media/${rcfile}" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 cursor-pointer text-blue-500 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)

            } else {
                $("#rcview").append(`<a href="#" class="mt-1 absolute inset-y-0 right-0 flex items-center
                                    px-3 text-gray-400 bg-gray-300 rounded-r-md">

                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M4 3a2 2 0 012-2h6l6 6v9a2 2 0 01-2 2H6a2 2 0 01-2-2V3z"/>
                                </svg>
                            </a>`)
            }


            if (active === "True") {
                $('#view_is_active').prop('checked', true);
            } else {
                $('#view_is_active').prop('checked', false);
            }


        }


        function newdatauser(id, distributeur, code, designation, ville, telephone, adresse, nif, nis, art, rc, active, niffile, nisfile, artfile, rcfile) {

            //alert(id)
            edit_payeur_id = id
            edit_distri_id = distributeur


            $("#edit_code").val(code);
            $("#edit_designation").val(designation);
            $("#edit_adresse").val(adresse);
            $("#edit_telephone").val(telephone);
            $("#edit_ville").val(ville);
            $("#edit_nif").val(nif);
            $("#edit_nis").val(nis);
            $("#edit_art").val(art);
            $("#edit_rc").val(rc);
            if (niffile !== "") {
                $("#edit_niffile").attr("src", niffile);

                fileIcon = document.getElementById('editnif_icon');

                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            }
            if (nisfile !== "") {
                $("#edit_nisfile").attr("src", nisfile);

                fileIcon = document.getElementById('editnis_icon');

                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            }
            if (nisfile !== "") {
                $("#edit_artfile").attr("src", artfile);

                fileIcon = document.getElementById('editart_icon');

                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            }
            if (nisfile !== "") {
                $("#edit_rcfile").attr("src", rcfile);

                fileIcon = document.getElementById('editrc_icon');

                fileIcon.classList.remove('text-gray-400');
                fileIcon.classList.add('text-blue-500');
            }


            if (active === "True") {
                $('#edit_is_active').prop('checked', true);
            } else {
                $('#edit_is_active').prop('checked', false);
            }


        }

        $('#userForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            var form = new FormData();

            niffile = $('#niffile')[0].files[0]
            if (niffile) {
                form.append("nif_file", niffile);
            }

            nisfile = $('#nisfile')[0].files[0]
            if (nisfile) {
                form.append("nis_file", nisfile);
            }

            artfile = $('#artfile')[0].files[0]
            if (artfile) {
                form.append("art_file", artfile);
            }

            rcfile = $('#rcfile')[0].files[0]
            if (rcfile) {
                form.append("rc_file", rcfile);
            }

            form.append("code", $code.val());
            form.append("designation", $designation.val());
            form.append("ville", $ville.val());
            form.append("adresse", $adresse.val());
            form.append("telephone", $telephone.val());
            form.append("distributeur", edit_dist);
            form.append("nif", $nif.val());
            form.append("nis", $nis.val());
            form.append("art", $art.val());
            form.append("rc", $rc.val());
            form.append("draft", true);


            for (var pair of form.entries()) {
                console.log(pair[0] + ": " + pair[1]);
            }

            var settings = {
                "url": "/api/payeur/",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "X-CSRFToken": $('input[name= csrfmiddlewaretoken]').val(),  // Assuming you have CSRF token in your template context
                },
                "processData": false,
                "contentType": false,
                "data": form
            };

            $.ajax(settings)
                .done(function (response) {
                    console.log(response);
                    window.location.href = "/distributeur/payeurdraft";
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // Log the entire jqXHR object to see all details
                    console.log('jqXHR:', jqXHR);

                    // Log the status text
                    console.log('Status:', textStatus);

                    // Log the error thrown
                    console.log('Error Thrown:', errorThrown);

                    // Log the response text, which might contain detailed error messages
                    console.log('Response Text:', jqXHR.responseText); alert(jqXHR.responseText)

                    // Optionally, parse the responseText as JSON if it's in JSON format
                    try {
                        var responseJSON = JSON.parse(jqXHR.responseText);
                        console.log('Response JSON:', responseJSON);
                    } catch (e) {
                        console.error('Failed to parse response as JSON:', e);
                    }

                });
        });

        $('#edituserForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission
            var formedit = new FormData();
            niffile = $('#edit_niffile')[0].files[0]
            if (niffile) {
                formedit.append("nif_file", niffile);
            }

            nisfile = $('#edit_nisfile')[0].files[0]
            if (nisfile) {
                formedit.append("nis_file", nisfile);
            }

            artfile = $('#edit_artfile')[0].files[0]
            if (artfile) {
                formedit.append("art_file", artfile);
            }

            rcfile = $('#edit_rcfile')[0].files[0]
            if (rcfile) {
                formedit.append("rc_file", rcfile);
            }
            formedit.append("code", $('#edit_code').val())
            formedit.append("designation", $('#edit_designation').val())
            formedit.append("ville", $('#edit_ville').val())
            formedit.append("adresse", $('#edit_adresse').val())
            formedit.append("telephone", $('#edit_telephone').val())
            formedit.append("distributeur", edit_distri_id)
            formedit.append("nif", $('#edit_nif').val())
            formedit.append("nis", $('#edit_nis').val())
            formedit.append("art", $('#edit_art').val())
            formedit.append("rc", $('#edit_rc').val())
            formedit.append("active", $('#edit_is_active').prop('checked'))


            // Log the formData object to see the data
            console.log('FormData:', formedit);

            var settings = {
                "url": "/api/payeur/" + edit_payeur_id + '/',  // Update the URL as per your requirement
                "method": "PUT",
                "timeout": 0,
                "headers": {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),  // Assuming you have CSRF token in your template context

                },
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": formedit
            };

            $.ajax(settings)
                .done(function (response) {
                    console.log(response);
                    window.location.href = "/distributeur/payeurdraft";
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // Log the entire jqXHR object to see all details
                    console.log('jqXHR:', jqXHR);

                    // Log the status text
                    console.log('Status:', textStatus);

                    // Log the error thrown
                    console.log('Error Thrown:', errorThrown);

                    // Log the response text, which might contain detailed error messages
                    console.log('Response Text:', jqXHR.responseText); alert(jqXHR.responseText)

                    // Optionally, parse the responseText as JSON if it's in JSON format
                    try {
                        var responseJSON = JSON.parse(jqXHR.responseText);
                        console.log('Response JSON:', responseJSON);
                    } catch (e) {
                        console.error('Failed to parse response as JSON:', e);
                    }
                });
        });


        // Open modal when delete button is clicked
        $('.delete-btn').on('click', function () {
            currentDeleteId = $(this).data('identifiant');
            console.log(currentDeleteId);
            $('#deleteModal').removeClass('hidden');
        });

        // Close modal when cancel is clicked
        $('#cancelDelete').on('click', function () {
            $('#deleteModal').addClass('hidden');
            currentDeleteId = null;
        });

        // Confirm delete action
        $('#confirmDelete').on('click', function () {
            if (currentDeleteId) {
                // Perform the delete action, e.g., make an AJAX call or redirect
                console.log('Deleting item with ID:', currentDeleteId);

                var settings = {
                    "url": "/api/payeur/" + currentDeleteId + "/",
                    "method": "DELETE",
                    "timeout": 0,
                    "headers": {
                        "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                    },
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    $('#deleteModal').addClass('hidden');
                    window.location.href = "/distributeur/payeurdraft";
                });


            }
        });


    </script>
{% endblock %}
