{% extends "baseNew.html" %}
{% load mes_tags %}
{% load static %}
{% block title %}Produits{% endblock %}

{% block content %}
    <div class="w-full h-full backprimer px-4 pb-4 flex flex-col">
        <!-- Add Produit Sidebar -->
        <div id="addSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50 textslate">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold textslate">Ajouter un produit</h3>
                <button id="closeSidebar" class="text-xl">&times;</button>
            </div>
            <!-- Add Produit Form -->
            <div class="p-4">
                <form id="ProduitForm" class="">
                    <div class="overflow-y-auto containerdef2">
                        <div class="flex justify-center">
                            <div class="relative p-4">
                                <input type="file" id="photo" name="photo"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                       accept="image/*"
                                       style="opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                <div id="photoPreview"
                                     class="w-24 h-24 bg-gray-200 rounded-lg flex items-center justify-center overflow-hidden border border-gray-300">
                                    <img id="previewImage" src="{% static 'images/product.png' %}" alt="Preview"
                                         class="w-full h-full object-cover">
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <input type="text" id="reference" name="reference" placeholder="Référence"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="designation" name="designation" placeholder="Designation"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="type" name="type"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for type in liste_type %}
                                        <option value="{{ type.id }}">{{ type.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select id="couleur" name="couleur"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for couleur in liste_couleur %}
                                        <option value="{{ couleur.id }}">{{ couleur.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select id="typemesure" name="typemesure"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <option value="Sac">Sac</option>
                                    <option value="Unité">Unité</option>
                                </select>
                            </div>
                            <div>
                                <select id="mesure" name="mesure"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for mesure in liste_mesure %}
                                        <option class="{% if mesure.type  == 'Unité' %}hidden{% endif %}"
                                                data-type="{{ mesure.type }}"
                                                value="{{ mesure.id }}">{{ mesure.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="prix_publique" name="prix_publique" placeholder="Prix Publique"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="Prix_Gros" name="Prix_Gros" placeholder="Prix Gros"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end pb-3">
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit Produit Sidebar -->
        <div id="editSidebar"
             class="fixed right-0 top-0 bottom-0 w-2/5 backprimer shadow-lg transform translate-x-full transition-transform duration-300 z-50"
             style="margin-top: -8px">
            <div class="flex justify-between items-center p-4 border-b">
                <h3 class="text-lg font-semibold textslate">Editer produit: </h3>
                <button id="closeEditSidebar" class="text-xl">&times;</button>
            </div>
            <!-- Edit Produit Form -->
            <div class="p-4 overflow-y-auto">
                <form id="editProduitForm">
                    <div class="overflow-y-auto containerdef2">
                        <div class="flex justify-center">
                            <div class="relative p-4">
                                <input type="file" id="edit_photo" name="photo"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                       accept="image/*"
                                       style="opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                <div id="edit_photoPreview"
                                     class="w-24 h-24 bg-gray-200 rounded-lg flex items-center justify-center overflow-hidden border border-gray-300">
                                    <img id="edit_previewImage" src="{% static 'images/product.png' %}" alt="Preview"
                                         class="w-full h-full object-cover">
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <input type="text" id="edit_reference" name="reference" placeholder="Référence"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_designation" name="designation" placeholder="Designation"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <select id="edit_type" name="type"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for type in liste_type %}
                                        <option value="{{ type.id }}">{{ type.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select id="edit_couleur" name="couleur"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for couleur in liste_couleur %}
                                        <option value="{{ couleur.id }}">{{ couleur.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select id="edit_typemesure" name="typemesure"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <option value="Sac">Sac</option>
                                    <option value="Unité">Unité</option>
                                </select>
                            </div>
                            <div>
                                <select id="edit_mesure" name="mesure"
                                        class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    {% for mesure in liste_mesure %}
                                        <option class="{% if mesure.type  == 'Unité' %}hidden{% endif %}"
                                                data-type="{{ mesure.type }}"
                                                value="{{ mesure.id }}">{{ mesure.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="text" id="edit_prix_publique" name="prix_publique"
                                       placeholder="Prix Publique"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div>
                                <input type="text" id="edit_Prix_Gros" name="Prix_Gros" placeholder="Prix Gros"
                                       class="mt-1 p-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="checkbox-wrapper-6">
                                <input class="tgl tgl-light" id="edit_active" type="checkbox"/>
                                <label class="tgl-btn" for="edit_active"></label>
                            </div>
                        </div>
                    </div>


                    <div class="flex justify-end">
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400">
                            Modifier
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Filter Modal -->
        <div id="filterModal" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40 flex items-center justify-center"
             style="margin-top: -16px">
            <div class="bg-white w-1/3 rounded-lg shadow-lg">
                <div class="flex justify-between items-center p-4 border-b">
                    <h3 class="text-lg font-semibold">Filtres</h3>
                    <button id="closeFilterModal" class="text-gray-500 hover:text-gray-700">&times;</button>
                </div>
                <div class="p-4">
                    <!-- Filter Form -->
                </div>
            </div>
        </div>

        <div class="flex justify-between items-center pt-4 mb-4" style="margin-top: -8px">
            <h2 class="text-2xl font-bold textslate">Liste des produits</h2>
            <div>
                <button id="filterButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                    hover:bg-blue-900 hover:border-slate-400 rounded-md">Filtrer
                </button>
                <button id="addButton" class="btn capitalize backprimer px-4 py-2 border border-slate-300 text-gray-400
                    hover:bg-blue-900 hover:border-slate-400 rounded-md">Ajouter
                </button>
            </div>
        </div>
        <hr/>

        <!-- Produit List Headers -->
        <div class="pt-4">
            <div class="flex items-center justify-between text-gray-600 font-semibold px-4 defaultboldval">
                <div class="w-1/4 capitalize">Produit</div>
                <div class="w-1/8 capitalize">Type</div>
                <div class="w-1/8 capitalize">Mesure</div>
                <div class="w-1/8 capitalize">Couleur</div>
                <div class="w-1/8 capitalize mr-6">Prix Publique</div>
                <div class="w-1/8 capitalize mr-6">Prix Gros</div>
                <div class="w-1/8 capitalize text-center">Actions</div>
            </div>
        </div>

        <!-- Produit List -->
        <div class="flex-grow shadow-md rounded-b-lg backslateprime p-2 overflow-y-auto textslate">
            {% for elem in produit %}

                <div class="flex items-center justify-between p-2 backslateslite flex-none mb-2">
                    <div class="flex items-center w-1/4">
                        <img src="{% if elem.image %} {{ elem.image.url }} {% else %} {% static 'images/product.png' %} {% endif %}"
                             alt="Avatar" class="h-10 w-10 rounded-lg mr-4">
                        <div>
                            <h3 class="font-bold text-blue-600">{{ elem.designation }}</h3>
                            <p class="text-sm textslate">{{ elem.reference }}</p>
                        </div>
                    </div>
                    <div class="w-1/8">{{ elem.type }}</div>
                    <div class="w-1/8">{{ elem.mesure }}</div>
                    <div class="w-1/8">{{ elem.couleur }}</div>
                    <div class="w-1/8">
                        {{ elem.prix_publique|floate_redefined }} DA
                    </div>
                    <div class="w-1/8">
                        {{ elem.prix_gros|floate_redefined }} DA
                    </div>
                    <div class="flex space-x-2 w-1/8 justify-end">
                        <!-- <button class="bg-blue-500 text-white p-2 rounded"><i class="fas fa-search"></i></button> -->
                        <button id="editButton" class="editButton bg-blue-500 text-white p-2 rounded"
                                data-identifiant="{{ elem.id }}">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="bg-red-500 text-white p-2 rounded"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script>
            edit_elem = 0;

            $reference = $('#reference');
            $photo = $('#photo');
            $designation = $('#designation');
            $type = $('#type');
            $couleur = $('#couleur');
            $typemesure = $('#typemesure');
            $mesure = $('#mesure');
            $prix_publique = $('#prix_publique');
            $Prix_Gros = $('#Prix_Gros');


            // Toggle the sidebar
            $('#addButton').on('click', function () {
                $('#addSidebar').toggleClass('translate-x-full');
            });

            // Toggle the sidebar edit
            $('.editButton').on('click', function () {
                identifiant = $(this).data('identifiant');

                let settings = {
                    url: `/api/produit/${identifiant}`,
                    method: "GET",
                    timeout: 0,
                    headers: {
                        "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                    },
                };

                $.ajax(settings).done(function (response) {
                    let responsedata = response;
                    $('#edit_photoPreview').attr('src', responsedata["image"]);
                    $('#edit_previewImage').attr('src', responsedata["image"]);
                    $('#edit_reference').val(responsedata["reference"]);
                    $('#edit_designation').val(responsedata["designation"]);
                    $('#edit_type').val(responsedata["type"]);
                    $('#edit_couleur').val(responsedata["couleur"]);
                    $('#edit_typemesure').val(responsedata["typemesure"]);
                    $('#edit_mesure').val(responsedata["mesure"]);
                    $('#edit_prix_publique').val(responsedata["prix_publique"]);
                    $('#edit_Prix_Gros').val(responsedata["prix_gros"]);
                    if (responsedata["active"]) $('#edit_active').prop('checked', true);
                    else $('#edit_active').prop('checked', false);

                    $('#editSidebar').toggleClass('translate-x-full');
                });

            });

            // Close the sidebar
            $('#closeSidebar').on('click', function () {
                $('#addSidebar').addClass('translate-x-full');
            });

            // Close the sidebar
            $('#closeEditSidebar').on('click', function () {
                $('#editSidebar').addClass('translate-x-full');
            });

            // Show the filter modal
            $('#filterButton').on('click', function () {
                $('#filterModal').removeClass('hidden');
            });

            // Close the filter modal
            $('#closeFilterModal').on('click', function () {
                $('#filterModal').addClass('hidden');
            });

            // Close sidebar when clicking outside
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#addButton, #addSidebar').length) {
                    $('#addSidebar').addClass('translate-x-full');
                }
            });

            // Close sidebar when clicking outside
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#editButton, #editSidebar').length) {
                    $('#editSidebar').addClass('translate-x-full');
                }
            });

            // Close filter modal when clicking outside
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#filterButton, #filterModal').length) {
                    $('#filterModal').addClass('hidden');
                }
            });

            // Update photo preview
            document.getElementById('photo').addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const previewImage = document.getElementById('previewImage');
                        previewImage.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });

            // Update edit_photo preview
            document.getElementById('edit_photo').addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const previewImage = document.getElementById('edit_previewImage');
                        previewImage.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });

            $(document).ready(function () {
                $typemesure.on('change', function () {
                    var selectedType = $(this).val();  // Get the selected type from the typemesure dropdown

                    $('#mesure option').each(function () {
                        var optionType = $(this).data('type');  // Get the type associated with each mesure option

                        // Show or hide options based on the selected type
                        if (optionType === selectedType) {
                            $(this).removeClass('hidden');  // Show the option
                        } else {
                            $(this).addClass('hidden');  // Hide the option
                        }
                    });

                    // Reset the mesure dropdown to show the first available option
                    $('#mesure').val($('#mesure option:not(.hidden):first').val());
                });

                // Trigger the change event on page load to ensure the correct options are displayed
                $typemesure.trigger('change');
            });


            $('#ProduitForm').on('submit', function (e) {
                e.preventDefault(); // Prevent the default form submission

                var form = new FormData();

                // Add basic form data
                form.append("reference", $reference.val());
                form.append("designation", $designation.val());
                form.append("type", $type.val());
                form.append("couleur", $couleur.val());
                form.append("typemesure", $typemesure.val());
                form.append("mesure", $mesure.val());
                form.append("prix_publique", $prix_publique.val());
                form.append("prix_gros", $Prix_Gros.val());
                form.append("active", true);

                // Add the photo
                var photoFile = $('#photo')[0].files[0];
                if (photoFile) {
                    form.append("image", photoFile);
                }


                for (var pair of form.entries()) {
                    console.log(pair[0] + ": " + pair[1]);
                }

                var settings = {
                    "url": "/api/produit/",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "X-CSRFToken": $('input[name= csrfmiddlewaretoken]').val(),  // Assuming you have CSRF token in your template context
                    },
                    "processData": false,
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings)
                    .done(function (response) {
                        console.log(response);

                        window.location.href = "/produit/";
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        // Log the entire jqXHR object to see all details
                        console.log('jqXHR:', jqXHR);

                        // Log the status text
                        console.log('Status:', textStatus);

                        // Log the error thrown
                        console.log('Error Thrown:', errorThrown);

                        // Log the response text, which might contain detailed error messages
                        console.log('Response Text:', jqXHR.responseText);

                        // Optionally, parse the responseText as JSON if it's in JSON format
                        try {
                            var responseJSON = JSON.parse(jqXHR.responseText);
                            console.log('Response JSON:', responseJSON);
                        } catch (e) {
                            console.error('Failed to parse response as JSON:', e);
                        }

                    });
            });

            $('#editProduitForm').on('submit', function (e) {
                e.preventDefault(); // Prevent the default form submission


                var form = new FormData();

                form.append("reference",$('#edit_reference').val());
                form.append("designation",$('#edit_designation').val());
                form.append("type",$('#edit_type').val());
                form.append("couleur",$('#edit_couleur').val());
                form.append("typemesure",$('#edit_typemesure').val());
                form.append("mesure",$('#edit_mesure').val());
                form.append("prix_publique",$('#edit_prix_publique').val());
                form.append("prix_gros",$('#edit_Prix_Gros').val());
                form.append("active", $('#edit_active').prop('checked'));

                // Add the photo
                var photoFile = $(' #edit_photo')[0].files[0];
                if (photoFile) {
                    form.append("image", photoFile);
                }


                var settings = {
                    "url": "/api/produit/" + identifiant + '/',
                    "method": "PUT",
                    "timeout": 0,
                    "headers": {
                        "X-CSRFToken": $('input[name= csrfmiddlewaretoken]').val(),  // Assuming you have CSRF token in your template context
                    },
                    "processData": false,
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings)
                    .done(function (response) {
                        console.log(response);
                        window.location.href = "/produit/";
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        // Log the entire jqXHR object to see all details
                        console.log('jqXHR:', jqXHR);

                        // Log the status text
                        console.log('Status:', textStatus);

                        // Log the error thrown
                        console.log('Error Thrown:', errorThrown);

                        // Log the response text, which might contain detailed error messages
                        console.log('Response Text:', jqXHR.responseText);

                        // Optionally, parse the responseText as JSON if it's in JSON format
                        try {
                            var responseJSON = JSON.parse(jqXHR.responseText);
                            console.log('Response JSON:', responseJSON);
                        } catch (e) {
                            console.error('Failed to parse response as JSON:', e);
                        }

                    });
            });

        </script>
    </div>


{% endblock %}
